defaults/flow.json
[{"id":"77d54067.1c0e9","type":"tab","label":"Node-RED","disabled":false,"info":""},{"id":"a7abe019.5585b","type":"tab","label":"0.Setup","disabled":false,"info":""},{"id":"687b8770.a222a8","type":"tab","label":"1.Sensor","disabled":false,"info":""},{"id":"432dc11a.b8554","type":"tab","label":"2.myPWS","disabled":false,"info":""},{"id":"8e6cdf4d.d2831","type":"tab","label":"3.allPWS","disabled":false,"info":""},{"id":"bb108297.56268","type":"tab","label":"WeatherHistory","disabled":false,"info":""},{"id":"d507e9c1.225528","type":"tab","label":"WeatherForecast","disabled":false,"info":""},{"id":"61188e1e.be8c5","type":"tab","label":"Utils","disabled":false,"info":""},{"id":"b9b0f68.142db08","type":"wiotp","z":"","name":"o062sb"},{"id":"46b94481.65c85c","type":"wiotp","z":"","name":"n8ve7d-mARKUS SPACE"},{"id":"f3d8c395.7a0d5","type":"ibmiot","z":"","name":"IoTBak","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c3ca51fe.2d4e6","type":"ui_group","z":"","name":"All PWS","tab":"b5674cbd.e0019","order":1,"disp":false,"width":"24","collapse":false},{"id":"b5674cbd.e0019","type":"ui_tab","z":"","name":"2. All PWS","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"da7241ca.ee1d5","type":"ui_group","z":"","name":"PWS","tab":"b31e1fea.f89d","order":1,"disp":true,"width":"6","collapse":false},{"id":"72cc2e69.d3517","type":"ui_group","z":"","name":"Map","tab":"b31e1fea.f89d","order":2,"disp":true,"width":"10","collapse":false},{"id":"3487cf39.3f61e","type":"ui_group","z":"","name":"TWC 24H Forecast","tab":"b31e1fea.f89d","order":4,"disp":true,"width":"6","collapse":false},{"id":"b31e1fea.f89d","type":"ui_tab","z":"","name":"1. My PWS","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"1f173531.fe34cb","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"36a2354f.92670a","type":"ui_tab","z":"","name":"99. Util Geo Location","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"1397591e.d468e7","type":"ui_group","z":"","name":"Your IP Geo Location","tab":"36a2354f.92670a","order":1,"disp":true,"width":"14","collapse":false},{"id":"13021934.20b057","type":"ui_group","z":"","name":"Infos","tab":"b31e1fea.f89d","order":3,"disp":true,"width":"4","collapse":false},{"id":"bcc7c32f.f0981","type":"ui_group","z":"","name":"hidden_group","tab":"5b3be690.6b8da8","order":1,"disp":false,"width":"6","collapse":false},{"id":"5b3be690.6b8da8","type":"ui_tab","z":"","name":"100.clock-mvk2020","icon":"home","order":6,"disabled":false,"hidden":false},{"id":"d76122c.dd372e","type":"websocket-listener","z":"","path":"/ws/myweather2/","wholemsg":"false"},{"id":"44f18fda.2ce4a","type":"ui_group","z":"","name":"History","tab":"4e199a86.6848c4","order":2,"disp":false,"width":"10","collapse":false},{"id":"f4dbbd7a.c32cf","type":"ui_group","z":"","name":"Actions","tab":"4e199a86.6848c4","order":1,"disp":false,"width":"6","collapse":false},{"id":"f8191090.6edb2","type":"ui_group","z":"","name":"Temp/RH","tab":"4e199a86.6848c4","order":3,"disp":false,"width":"4","collapse":false},{"id":"4e199a86.6848c4","type":"ui_tab","z":"","name":"3. WeatherHistory","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"13174872.1f13c8","type":"websocket-listener","z":"","path":"/ws/myweather1/","wholemsg":"false"},{"id":"3f0f51c5.111b8e","type":"ui_group","z":"","name":"Monthly History","tab":"fd0d21d8.583e9","order":1,"disp":false,"width":"8","collapse":false},{"id":"411988da.c1f548","type":"ui_group","z":"","name":"by Month","tab":"fd0d21d8.583e9","order":2,"disp":true,"width":"4","collapse":false},{"id":"503e045d.0186ac","type":"ui_group","z":"","name":"Multiple Month ","tab":"fd0d21d8.583e9","order":4,"disp":false,"width":"10","collapse":false},{"id":"fd0d21d8.583e9","type":"ui_tab","z":"","name":"4. WeaterForecast","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"a1871ef4.d2cfc","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":"Think2020DB"},{"id":"7718e484.83239c","type":"ui_group","z":"","name":"by Range","tab":"fd0d21d8.583e9","order":3,"disp":true,"width":"4","collapse":false},{"id":"e9daa2bb.a1644","type":"comment","z":"61188e1e.be8c5","name":"Get your Geo Location","info":"your url - node red instance /latlon\n\nhttps://thinklabxx.mybluemix.net/latlon\nor \n\n\nhttps://thinklab1239.mybluemix.net/latlon","x":140,"y":60,"wires":[]},{"id":"840ece1a.153ef","type":"http in","z":"61188e1e.be8c5","name":"","url":"/latlon","method":"get","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["55b72071.713d1"]]},{"id":"55b72071.713d1","type":"template","z":"61188e1e.be8c5","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n\n\n<h1>ThinkLAB-1239 - Your IP Geo Location  </h1>\n\nTry this in case it does not work or you use a VM: <a href=\"https://www.latlong.net/\" target=_new1>Find your City Location</a><br>\n \n  <p id=\"demo\"> Please wait a little ...  </p><br>\n\nInfos From <a href=\"https://geolocation-db.com\" target=_new2>https://geolocation-db.com</a><br>\n\n    <div>Country: <span id=\"country\"></span>\n    <div>State: <span id=\"state\"></span>\n    <div>City: <span id=\"city\"></span>\n    <div>Latitude: <span id=\"latitude\"></span>\n    <div>Longitude: <span id=\"longitude\"></span>\n    <div>IP: <span id=\"IPv4\"></span><br>\n    <script>\n    \n\tvar country = document.getElementById('country');\n\tvar state = document.getElementById('state');\n\tvar city = document.getElementById('city');\n\tvar latitude = document.getElementById('latitude');\n\tvar longitude = document.getElementById('longitude');\n\tvar ip = document.getElementById('ipv4');\n               \n\tfunction callback(data)\n\t{\n\t\tcountry.innerHTML = data.country_name;\n\t\tstate.innerHTML = data.state;\n\t\tcity.innerHTML = data.city;\n\t\tlatitude.innerHTML = data.latitude;\n\t\tlongitude.innerHTML = data.longitude;\n\t\tip.innerHTML = data.IPv4;\n\t}\n\n\tvar script = document.createElement('script');\n\tscript.type = 'text/javascript';\n\tscript.src = 'https://geolocation-db.com/jsonp';\n\tvar h = document.getElementsByTagName('script')[0];\n\th.parentNode.insertBefore(script, h);\n\t           \n\nvar x = document.getElementById(\"demo\");\nfunction showPosition(position) {\n    console.log(position)\n  x.innerHTML = \"Latitude: \" + position.coords.latitude + \n  \"<br>Longitude: \" + position.coords.longitude;\n  lat = document.getElementById(\"lat\");\n  lat.value=position.coords.latitude;\n  lon = document.getElementById(\"lon\");\n  lon.value=position.coords.longitude;\n}\nfunction getLocation() {\n  if (navigator.geolocation) {\n    navigator.geolocation.getCurrentPosition(showPosition);\n  } else { \n    x.innerHTML = \"Geolocation is not supported by this browser.\";\n  }\n}\n\n\n\ngetLocation() \n\n\n</script>\n</body>\n</html>\n","x":310,"y":140,"wires":[["e7b3d66c.2cedb8"]]},{"id":"e7b3d66c.2cedb8","type":"http response","z":"61188e1e.be8c5","name":"","x":470,"y":140,"wires":[]},{"id":"c0d8f6e5.f7da88","type":"http request","z":"687b8770.a222a8","name":"Current Weather TWC","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":220,"wires":[["ca23ca83.571f18","99f0603.29878a"]]},{"id":"c85e67de.a24b38","type":"function","z":"687b8770.a222a8","name":"Check","func":"msg.payload={}\nmsg.payload.lat=global.get(\"lat\")\nmsg.payload.lon=global.get(\"lon\")\n\nmsg.payload.unit=global.get(\"unit\")\nif(msg.payload.unit === undefined)\n{\nmsg.payload.unit=\"m\"\nglobal.set(\"unit\",msg.payload.unit)\n}\nif(global.get(\"labid\") == \"NoLabID\")\nnode.warn(\"no LABID set please adjust \")\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["240de9cc.75c3f6"]]},{"id":"99f0603.29878a","type":"debug","z":"687b8770.a222a8","name":"TWC Api Call","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":220,"wires":[]},{"id":"240de9cc.75c3f6","type":"function","z":"687b8770.a222a8","name":"setup url.api call get weather","func":"//\"https://api.weather.com/v2/pws/history/hourly?stationId=ITORONTO308&format=json&units=m&date={}&apiKey=\"\n    \nmyurl= \"https://api.weather.com/v3/wx/observations/current?apiKey=\"+global.get(\"twcapikey\")+\"&geocode=\"+global.get(\"lat\")+\"%2C\"+global.get(\"lon\")+\"&units=\"+global.get(\"unit\")+\"&language=en-US&format=json\"\nmsg.url=myurl\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":140,"wires":[["c0d8f6e5.f7da88"]]},{"id":"d1ad7df8.ad5c6","type":"comment","z":"687b8770.a222a8","name":"API documentation","info":"https://weather.com/swagger-docs/call-for-code","x":650,"y":100,"wires":[]},{"id":"bcc15893.06ab28","type":"debug","z":"687b8770.a222a8","name":"MyPWSIncoming","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":420,"wires":[]},{"id":"377276b5.05580a","type":"ibmiot in","z":"687b8770.a222a8","authentication":"boundService","apiKey":"f3d8c395.7a0d5","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"pws01","applicationId":"","deviceType":"pws","eventType":"+","commandType":"","format":"json","name":"allPWSIncoming","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":140,"y":420,"wires":[["bc02248c.f431a8"]]},{"id":"ca23ca83.571f18","type":"function","z":"687b8770.a222a8","name":"Mapping","func":"msg.payloadold=msg.payload\nmsg.payload={}\n//msg.payload.windDirection=msg.payloadold.windDirection\nmsg.payload.temperature=msg.payloadold.temperature\nmsg.payload.observation=msg.payloadold.wxPhraseLong\nmsg.payload.humidity   =msg.payloadold.relativeHumidity\nmsg.payload.pressure   =msg.payloadold.pressureMeanSeaLevel\nmsg.payload.uvindex    =msg.payloadold.uvIndex\nmsg.payload.precip     =msg.payloadold.precip1Hour\nmsg.payload.icon       =msg.payloadold.iconCode\nmsg.payload.ts         =Date.now()\nmsg.payload.messtime   =msg.payloadold.validTimeLocal\nmsg.payload.day=msg.payloadold.dayOfWeek\nmsg.payload.lat=parseFloat(global.get(\"lat\"))\nmsg.payload.lon=parseFloat(global.get(\"lon\"))\nmsg.payload.source=\"TWC\"\nmsg.payload.unit=global.get(\"unit\")\nmsg.payload.pws=global.get(\"labid\")\nmsg.deviceId=\"pws\"+msg.payload.pws\nreturn msg;\n/*\n{\n    \"cloudCeiling\": 5000,\n    \"cloudCoverPhrase\": \"Mostly Cloudy\",\n    \"dayOfWeek\": \"Friday\",\n    \"dayOrNight\": \"D\",\n    \"expirationTimeUtc\": 1586545455,\n    \"iconCode\": 28,\n    \"iconCodeExtend\": 2890,\n    \"obsQualifierCode\": null,\n    \"obsQualifierSeverity\": null,\n    \"precip1Hour\": 0,\n    \"precip6Hour\": 0,\n    \"precip24Hour\": 0,\n    \"pressureAltimeter\": 1005.08,\n    \"pressureChange\": 2.03,\n    \"pressureMeanSeaLevel\": 1005.2,\n    \"pressureTendencyCode\": 1,\n    \"pressureTendencyTrend\": \"Rising\",\n    \"relativeHumidity\": 42,\n    \"snow1Hour\": 0,\n    \"snow6Hour\": 0,\n    \"snow24Hour\": 0,\n    \"sunriseTimeLocal\": \"2020-04-10T06:43:19-0400\",\n    \"sunriseTimeUtc\": 1586515399,\n    \"sunsetTimeLocal\": \"2020-04-10T19:56:57-0400\",\n    \"sunsetTimeUtc\": 1586563017,\n    \"temperature\": 7,\n    \"temperatureChange24Hour\": -2,\n    \"temperatureDewPoint\": -5,\n    \"temperatureFeelsLike\": 2,\n    \"temperatureHeatIndex\": 7,\n    \"temperatureMax24Hour\": 8,\n    \"temperatureMaxSince7Am\": 7,\n    \"temperatureMin24Hour\": 1,\n    \"temperatureWindChill\": 2,\n    \"uvDescription\": \"Moderate\",\n    \"uvIndex\": 4,\n    \"validTimeLocal\": \"2020-04-10T14:54:15-0400\",\n    \"validTimeUtc\": 1586544855,\n    \"visibility\": 16.09,\n    \"windDirection\": 300,\n    \"windDirectionCardinal\": \"WNW\",\n    \"windGust\": 56,\n    \"windSpeed\": 37,\n    \"wxPhraseLong\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseMedium\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseShort\": \"M Cldy/Wind\"\n}\n*/","outputs":1,"noerr":0,"x":620,"y":280,"wires":[["85eb4e9.444b1b","f204f498.1012c8"]]},{"id":"b65b1496.5f5158","type":"inject","z":"687b8770.a222a8","name":"Payload TWC example","topic":"","payload":"{\"cloudCeiling\":5000,\"cloudCoverPhrase\":\"Mostly Cloudy\",\"dayOfWeek\":\"Friday\",\"dayOrNight\":\"D\",\"expirationTimeUtc\":1586545455,\"iconCode\":28,\"iconCodeExtend\":2890,\"obsQualifierCode\":null,\"obsQualifierSeverity\":null,\"precip1Hour\":0,\"precip6Hour\":0,\"precip24Hour\":0,\"pressureAltimeter\":1005.08,\"pressureChange\":2.03,\"pressureMeanSeaLevel\":1005.2,\"pressureTendencyCode\":1,\"pressureTendencyTrend\":\"Rising\",\"relativeHumidity\":42,\"snow1Hour\":0,\"snow6Hour\":0,\"snow24Hour\":0,\"sunriseTimeLocal\":\"2020-04-10T06:43:19-0400\",\"sunriseTimeUtc\":1586515399,\"sunsetTimeLocal\":\"2020-04-10T19:56:57-0400\",\"sunsetTimeUtc\":1586563017,\"temperature\":7,\"temperatureChange24Hour\":-2,\"temperatureDewPoint\":-5,\"temperatureFeelsLike\":2,\"temperatureHeatIndex\":7,\"temperatureMax24Hour\":8,\"temperatureMaxSince7Am\":7,\"temperatureMin24Hour\":1,\"temperatureWindChill\":2,\"uvDescription\":\"Moderate\",\"uvIndex\":4,\"validTimeLocal\":\"2020-04-10T14:54:15-0400\",\"validTimeUtc\":1586544855,\"visibility\":16.09,\"windDirection\":300,\"windDirectionCardinal\":\"WNW\",\"windGust\":56,\"windSpeed\":37,\"wxPhraseLong\":\"Mostly Cloudy/Wind\",\"wxPhraseMedium\":\"Mostly Cloudy/Wind\",\"wxPhraseShort\":\"M Cldy/Wind\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[[]]},{"id":"85eb4e9.444b1b","type":"debug","z":"687b8770.a222a8","name":"mapping","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":320,"wires":[]},{"id":"f204f498.1012c8","type":"ibmiot out","z":"687b8770.a222a8","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"issetinmapping","deviceType":"pws","eventCommandType":"weather","format":"json","data":"msg.payload","qos":0,"name":"MyPWS","service":"registered","x":880,"y":280,"wires":[]},{"id":"bc02248c.f431a8","type":"function","z":"687b8770.a222a8","name":"GetMyPWS","func":"if(global.get(\"labid\") == \"NoLabID\")\nnode.error(\"Please set your LAB ID\")\n\n\nif (msg.payload.pws == global.get(\"labid\") )\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["bcc15893.06ab28"]]},{"id":"86666f91.3acae","type":"function","z":"8e6cdf4d.d2831","name":"Set PWS Markter","func":"\nmsg.payload.layer = \"pwsall\";\nmsg.payload.name  = msg.payload.pws\nmsg.payload.icon  = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\nif(!isNaN(msg.payload.pws))\n{\n    msg.payload.iconColor = \"orange\"//+msg.payload.pws;\n    if(parseInt(msg.payload.pws) < 11)\n        msg.payload.iconColor = \"#55FF\"+msg.payload.pws;\n    if(parseInt(msg.payload.pws) > 10 && parseInt(msg.payload.pws) <21 )\n        msg.payload.iconColor = \"#FF55\"+msg.payload.pws;\n    if(parseInt(msg.payload.pws) > 20 && parseInt(msg.payload.pws) <31 )\n        msg.payload.iconColor = \"#\"+msg.payload.pws+\"22FF\"\n    if(parseInt(msg.payload.pws) > 30 && parseInt(msg.payload.pws) <41 )\n        msg.payload.iconColor = \"#55\"+msg.payload.pws+\"88\"\n}\n\n\n\nif(msg.payload.pws == \"NoLabID\")\n    msg.payload.iconColor = \"black\";\n//https://github.com/dceejay/RedMap/blob/master/emojilist.md    \n// Icons https://fontawesome.com/v4.7.0/icons/    \nif(msg.payload.pws == \"iss\")\n{\nmsg.payload.name  = \"Space Station\";\nmsg.payload.icon  = \"fa-space-shuttle\";\nmsg.payload.iconColor = \"blue\";\n}\nif(msg.payload.pws == \"cprb\")\n{\nmsg.payload.name  = \"Weather RB Station\";\nmsg.payload.icon  = \":fishing_pole_and_fish:\";\nmsg.payload.iconColor = \"green\";\n}\n\nif(msg.payload.pws == \"pwssigi\")\n{\nmsg.payload.name  = \"St Pete  Station\";\nmsg.payload.icon  = \":sun_with_face:\";\nmsg.payload.iconColor = \"yellow\";\n}\n\nmsg.payload.command = { zoom:3, \n                            \"lat\":msg.payload.lat,\n                            \"lon\":msg.payload.lon,\n                            autopan:true };\n//delete msg.payload.command \nreturn msg;","outputs":1,"noerr":0,"x":650,"y":280,"wires":[["9e4ed948.b6cfa8","65924cfc.1059d4"]]},{"id":"9e4ed948.b6cfa8","type":"ui_worldmap","z":"8e6cdf4d.d2831","group":"c3ca51fe.2d4e6","order":4,"width":"24","height":"12","name":"","lat":"43.6711","lon":"-79.4141","zoom":"3","layer":"Esri","cluster":"4","maxage":"1200","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","path":"/worldallpws","x":870,"y":320,"wires":[]},{"id":"65924cfc.1059d4","type":"debug","z":"8e6cdf4d.d2831","name":"MapIT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":280,"wires":[]},{"id":"3ba70981.bc1c76","type":"ibmiot in","z":"8e6cdf4d.d2831","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"pws","eventType":"+","commandType":"","format":"json","name":"All PWS","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":250,"y":280,"wires":[["e07a477c.bddfd8","e77adac.46a5528"]]},{"id":"e07a477c.bddfd8","type":"debug","z":"8e6cdf4d.d2831","name":"IoT incoming","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":340,"wires":[]},{"id":"e77adac.46a5528","type":"delay","z":"8e6cdf4d.d2831","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":280,"wires":[["86666f91.3acae"]]},{"id":"4785ff53.c93f","type":"inject","z":"8e6cdf4d.d2831","name":"Weather Message from Toronto - test","topic":"","payload":"{\"temperature\":6,\"observation\":\"Mostly Cloudy\",\"humidity\":43,\"pressure\":1014.7,\"uvindex\":3,\"precip\":0,\"ts\":1586620806125,\"messtime\":\"2020-04-11T11:50:30-0400\",\"day\":\"Saturday\",\"lat\":43.6711,\"lon\":-79.4141,\"source\":\"TWC\",\"pws\":\"00\",\"layer\":\"pwsall\",\"name\":\"test00\",\"icon\":\"globe\",\"iconColor\":\"orange\",\"command\":{\"zoom\":6,\"lat\":43.6711,\"lon\":-79.4141,\"autopan\":true}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"3","x":270,"y":220,"wires":[["e77adac.46a5528"]]},{"id":"a764e1dd.85cab","type":"comment","z":"8e6cdf4d.d2831","name":"use url ....  youinstance mybluemix.net/worldallpws","info":"or \nhttps://.....mybluemix.net/ui/\nor\nhttps://thinklab1239.mybluemix.net/worldallpws","x":290,"y":160,"wires":[]},{"id":"daf07274.4748d","type":"http request","z":"61188e1e.be8c5","name":"","method":"GET","ret":"obj","url":"http://open-notify-api.herokuapp.com/iss-now.json","tls":"","x":350,"y":320,"wires":[["fbf1fd0c.ceaeb","a8e61fd0.484a7"]]},{"id":"fbf1fd0c.ceaeb","type":"debug","z":"61188e1e.be8c5","name":"IssiPos","active":true,"console":"false","complete":"payload","x":530.5,"y":321.5,"wires":[]},{"id":"b4ef5d2c.28967","type":"inject","z":"61188e1e.be8c5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":108.5,"y":319.25,"wires":[["daf07274.4748d"]]},{"id":"a8e61fd0.484a7","type":"function","z":"61188e1e.be8c5","name":"Mapping/Send ISS info","func":"//Maybe call the weather API\nmsg.payloadold=msg.payload\nmsg.payload={}\nmsg.payload.temperature=msg.payloadold.temperature\nmsg.payload.observation=msg.payloadold.wxPhraseLong\nmsg.payload.humidity   =msg.payloadold.relativeHumidity\nmsg.payload.pressure   =msg.payloadold.pressureMeanSeaLevel\nmsg.payload.uvindex    =msg.payloadold.uvIndex\nmsg.payload.precip     =msg.payloadold.precip1Hour\nmsg.payload.ts         =Date.now()\nmsg.payload.messtime   =msg.payloadold.validTimeLocal\nmsg.payload.day=msg.payloadold.dayOfWeek\nmsg.payload.lat=(msg.payloadold.iss_position.latitude).toFixed(4)\nmsg.payload.lon=(msg.payloadold.iss_position.longitude).toFixed(4)\nmsg.payload.source=\"TWC\"\nmsg.payload.pws=\"iss\"\nmsg.deviceId=\"pwsiss\"\nreturn msg;\n/*\n{\n    \"cloudCeiling\": 5000,\n    \"cloudCoverPhrase\": \"Mostly Cloudy\",\n    \"dayOfWeek\": \"Friday\",\n    \"dayOrNight\": \"D\",\n    \"expirationTimeUtc\": 1586545455,\n    \"iconCode\": 28,\n    \"iconCodeExtend\": 2890,\n    \"obsQualifierCode\": null,\n    \"obsQualifierSeverity\": null,\n    \"precip1Hour\": 0,\n    \"precip6Hour\": 0,\n    \"precip24Hour\": 0,\n    \"pressureAltimeter\": 1005.08,\n    \"pressureChange\": 2.03,\n    \"pressureMeanSeaLevel\": 1005.2,\n    \"pressureTendencyCode\": 1,\n    \"pressureTendencyTrend\": \"Rising\",\n    \"relativeHumidity\": 42,\n    \"snow1Hour\": 0,\n    \"snow6Hour\": 0,\n    \"snow24Hour\": 0,\n    \"sunriseTimeLocal\": \"2020-04-10T06:43:19-0400\",\n    \"sunriseTimeUtc\": 1586515399,\n    \"sunsetTimeLocal\": \"2020-04-10T19:56:57-0400\",\n    \"sunsetTimeUtc\": 1586563017,\n    \"temperature\": 7,\n    \"temperatureChange24Hour\": -2,\n    \"temperatureDewPoint\": -5,\n    \"temperatureFeelsLike\": 2,\n    \"temperatureHeatIndex\": 7,\n    \"temperatureMax24Hour\": 8,\n    \"temperatureMaxSince7Am\": 7,\n    \"temperatureMin24Hour\": 1,\n    \"temperatureWindChill\": 2,\n    \"uvDescription\": \"Moderate\",\n    \"uvIndex\": 4,\n    \"validTimeLocal\": \"2020-04-10T14:54:15-0400\",\n    \"validTimeUtc\": 1586544855,\n    \"visibility\": 16.09,\n    \"windDirection\": 300,\n    \"windDirectionCardinal\": \"WNW\",\n    \"windGust\": 56,\n    \"windSpeed\": 37,\n    \"wxPhraseLong\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseMedium\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseShort\": \"M Cldy/Wind\"\n}\n*/","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["f49fdb56.cb70b8"]]},{"id":"80096738.804e78","type":"comment","z":"61188e1e.be8c5","name":"Get ISS position and mapp it","info":"","x":160,"y":260,"wires":[]},{"id":"dff69bee.53f7f8","type":"inject","z":"687b8770.a222a8","name":"Call TWC - Set Interval to 30sec","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"10","x":190,"y":180,"wires":[["c85e67de.a24b38"]]},{"id":"f49fdb56.cb70b8","type":"debug","z":"61188e1e.be8c5","name":"IssiInfos","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":260,"wires":[]},{"id":"aa209d02.e96fc","type":"debug","z":"432dc11a.b8554","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":120,"wires":[]},{"id":"e4272a2.ebf48d8","type":"comment","z":"432dc11a.b8554","name":"Make sure you Setup LABID and LatLon 1st","info":"","x":230,"y":100,"wires":[]},{"id":"abec841f.708688","type":"function","z":"432dc11a.b8554","name":"Set PWS Markter","func":"\n//https://github.com/dceejay/RedMap/blob/master/emojilist.md    \n// Icons https://fontawesome.com/v4.7.0/icons/ \n\nif(msg.payload.pws == \"NoLabID\")\n    msg.payload.iconColor = \"black\";\n  \nmsg.payload.layer = \"pws\";\nmsg.payload.name = \"pws\"+global.get(\"labid\")\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\nif(msg.payload.pws == \"NoLabID\")\n    msg.payload.iconColor = \"black\";\n  \nmsg.payload.command = { zoom:5, \n                            \"lat\":msg.payload.lat,\n                            \"lon\":msg.payload.lon,\n                            autopan:true };\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":400,"wires":[["8103a1f8.f0721","2140fdb1.330372"]]},{"id":"ab07061d.a83da8","type":"function","z":"432dc11a.b8554","name":"PWS data","func":"var d = new Date();\nvar options = { timeZone: 'America/Toronto', timeZoneName: 'short', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload.mytime=resultDate\n//msg.payload.windDirection=msg.payload.windDirection*(2)\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["e31ae1e.a626d2","5522741.c46988c","786902e6.9cb30c","abec841f.708688","6ca934e.0c73bcc","aa209d02.e96fc","71356e96.3cc2b","246abef6.0fc152","221f1d8b.e9eab2"]]},{"id":"e31ae1e.a626d2","type":"ui_gauge","z":"432dc11a.b8554","name":"","group":"da7241ca.ee1d5","order":4,"width":0,"height":0,"gtype":"gage","title":"Current Temperature","label":"C","format":"{{msg.payload.temperature}}","min":"-20","max":"90","colors":["#9b26b2","#e6e600","#ca3838"],"seg1":"","seg2":"","x":980,"y":160,"wires":[]},{"id":"5522741.c46988c","type":"ui_text","z":"432dc11a.b8554","group":"13021934.20b057","order":2,"width":0,"height":0,"name":"","label":"Conditions","format":"{{msg.payload.observation}}","layout":"row-spread","x":950,"y":200,"wires":[]},{"id":"786902e6.9cb30c","type":"ui_text","z":"432dc11a.b8554","group":"da7241ca.ee1d5","order":5,"width":0,"height":0,"name":"","label":"Day","format":"{{msg.payload.day}}","layout":"row-spread","x":930,"y":240,"wires":[]},{"id":"8103a1f8.f0721","type":"ui_worldmap","z":"432dc11a.b8554","group":"72cc2e69.d3517","order":1,"width":"0","height":"0","name":"","lat":"43.6711","lon":"-79.4141","zoom":"3","layer":"Esri","cluster":"6","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"false","path":"/worldmappws","x":740,"y":440,"wires":[]},{"id":"2140fdb1.330372","type":"debug","z":"432dc11a.b8554","name":"MapIT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":400,"wires":[]},{"id":"6ca934e.0c73bcc","type":"ui_text","z":"432dc11a.b8554","group":"72cc2e69.d3517","order":2,"width":0,"height":0,"name":"","label":"Local Time (YYZ)","format":"{{msg.payload.mytime}}","layout":"row-spread","x":970,"y":300,"wires":[]},{"id":"3d291c36.0998f4","type":"ui_chart","z":"432dc11a.b8554","name":"","group":"da7241ca.ee1d5","order":4,"width":0,"height":0,"label":"Temperature Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":340,"wires":[[]]},{"id":"71356e96.3cc2b","type":"function","z":"432dc11a.b8554","name":"","func":"var msg1={}\n\n\nmsg.oldpayload=msg.payload\n//msg1.topic=\"Humidity\"\n//msg1.payload=msg.oldpayload.relativeHumidity\n//node.send(msg1)\nmsg1.topic=\"Temperature\"\nmsg1.payload=msg.oldpayload.temperature\nnode.send(msg1)\n","outputs":1,"noerr":0,"x":770,"y":340,"wires":[["3d291c36.0998f4"]]},{"id":"227cc8dd.9ebc08","type":"ui_template","z":"432dc11a.b8554","group":"3487cf39.3f61e","name":"Outside Image","order":1,"width":"6","height":"4","format":"\n<img src='{{msg.payload.imgurl}}' alt='Image not found'  />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":960,"y":440,"wires":[[]]},{"id":"b4048fce.e5fbc","type":"comment","z":"432dc11a.b8554","name":"Traffic Cams","info":"https://www.toronto.ca/services-payments/streets-parking-transportation/road-restrictions-closures/rescu-traffic-cameras/\n\n///nYC\nhttps://511ny.org/map#Camera\n//example\nhttps://511ny.org/map/Cctv/4616652--17\n","x":950,"y":400,"wires":[]},{"id":"224d4169.484d8e","type":"ibmiot in","z":"432dc11a.b8554","authentication":"boundService","apiKey":"f3d8c395.7a0d5","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"pws01","applicationId":"","deviceType":"pws","eventType":"weather","commandType":"","format":"json","name":"allPWSIncoming","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":140,"y":160,"wires":[["b1f2024f.c51d8"]]},{"id":"b1f2024f.c51d8","type":"function","z":"432dc11a.b8554","name":"GetMyPWS","func":"if(global.get(\"labid\") == \"NoLabID\")\nnode.error(\"Please set your LAB ID\")\n\n\nif (msg.payload.pws == global.get(\"labid\") )\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":220,"wires":[["16c5f50b.df39bb","ab07061d.a83da8"]]},{"id":"16c5f50b.df39bb","type":"debug","z":"432dc11a.b8554","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":160,"wires":[]},{"id":"ebb7d499.1528a8","type":"http request","z":"61188e1e.be8c5","name":"Current Weather","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":460,"wires":[["f46dee12.4af41","fd5f749a.ae0558"]]},{"id":"f46dee12.4af41","type":"debug","z":"61188e1e.be8c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":460,"wires":[]},{"id":"94d8df16.70fbb","type":"inject","z":"61188e1e.be8c5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":460,"wires":[["33281992.3e6d46"]]},{"id":"fa0d1f35.762f7","type":"ui_button","z":"61188e1e.be8c5","name":"","group":"3487cf39.3f61e","order":2,"width":0,"height":0,"passthru":false,"label":"24h Forecast","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":540,"wires":[[]]},{"id":"c6453d51.5b4f","type":"ui_gauge","z":"432dc11a.b8554","name":"","group":"3487cf39.3f61e","order":3,"width":0,"height":0,"gtype":"gage","title":" Temperature in 24","label":"C","format":"{{msg.payload.forecasts[23].temp}}","min":"-20","max":"90","colors":["#9b26b2","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":580,"wires":[]},{"id":"de06d3c4.bfd89","type":"function","z":"432dc11a.b8554","name":"","func":"var d = new Date();\nvar options = { timeZone: 'America/Toronto', timeZoneName: 'short', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload.mytime=resultDate\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":580,"wires":[["c6453d51.5b4f","d5cc7d9b.4971b"]]},{"id":"d5cc7d9b.4971b","type":"function","z":"432dc11a.b8554","name":"","func":"//example [{\"key\":\"Current\",\"values\":[[0,8],[29999,98],[60011,3],[90014,44],[120011,83],[592185,94]]}]\n var mymsg={}\n mymsg.topic=\"Temperature\"\nmymsg.payload=[{\"key\":\"Current\",\"values\":[[0,0]]}]\nmymsg.v=mymsg.payload[0].values[0]\nmsg.payload.forecasts.forEach(function(entry) {\n  //msg.payload.forecasts[23].temp}}\n\nvar a=[]\na.push(entry.num)\na.push(entry.temp)\n//mymsg.payload.values=values\nmymsg.payload[0].values.push(a)\n});\n\nreturn mymsg","outputs":1,"noerr":0,"x":790,"y":640,"wires":[["b7e63778.a153a8","a180e008.5ff4e"]]},{"id":"b7e63778.a153a8","type":"debug","z":"432dc11a.b8554","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":680,"wires":[]},{"id":"7fb5483b.beb278","type":"inject","z":"432dc11a.b8554","name":"Clear all data","topic":"","payload":"[{\"key\":\"Current\",\"values\":[[0,8],[29999,98],[60011,3],[90014,44],[120011,83],[592185,94]]}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":650,"y":700,"wires":[["a180e008.5ff4e"]]},{"id":"da354024.f2816","type":"inject","z":"432dc11a.b8554","name":"Send Test","topic":"","payload":"[{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586595600,\"fcst_valid_local\":\"2020-04-11T12:00:00+0300\",\"num\":1,\"day_ind\":\"D\",\"temp\":16,\"dewpt\":0,\"hi\":16,\"wc\":15,\"feels_like\":15,\"icon_extd\":3000,\"wxman\":\"wx1100\",\"icon_code\":30,\"dow\":\"Saturday\",\"phrase_12char\":\"P Cloudy\",\"phrase_22char\":\"Partly Cloudy\",\"phrase_32char\":\"Partly Cloudy\",\"subphrase_pt1\":\"Partly\",\"subphrase_pt2\":\"Cloudy\",\"subphrase_pt3\":\"\",\"pop\":5,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":34,\"wspd\":11,\"wdir\":358,\"wdir_cardinal\":\"N\",\"gust\":null,\"clds\":30,\"vis\":16,\"mslp\":1012.1,\"uv_index_raw\":5.68,\"uv_index\":6,\"uv_warning\":0,\"uv_desc\":\"High\",\"golf_index\":8,\"golf_category\":\"Very Good\",\"severity\":1},{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586599200,\"fcst_valid_local\":\"2020-04-11T13:00:00+0300\",\"num\":2,\"day_ind\":\"D\",\"temp\":16,\"dewpt\":0,\"hi\":16,\"wc\":16,\"feels_like\":16,\"icon_extd\":3000,\"wxman\":\"wx1100\",\"icon_code\":30,\"dow\":\"Saturday\",\"phrase_12char\":\"P Cloudy\",\"phrase_22char\":\"Partly Cloudy\",\"phrase_32char\":\"Partly Cloudy\",\"subphrase_pt1\":\"Partly\",\"subphrase_pt2\":\"Cloudy\",\"subphrase_pt3\":\"\",\"pop\":23,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":33,\"wspd\":10,\"wdir\":343,\"wdir_cardinal\":\"NNW\",\"gust\":null,\"clds\":48,\"vis\":16,\"mslp\":1011.6,\"uv_index_raw\":5.34,\"uv_index\":5,\"uv_warning\":0,\"uv_desc\":\"Moderate\",\"golf_index\":8,\"golf_category\":\"Very Good\",\"severity\":1},{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586602800,\"fcst_valid_local\":\"2020-04-11T14:00:00+0300\",\"num\":3,\"day_ind\":\"D\",\"temp\":17,\"dewpt\":0,\"hi\":17,\"wc\":17,\"feels_like\":17,\"icon_extd\":3000,\"wxman\":\"wx1100\",\"icon_code\":30,\"dow\":\"Saturday\",\"phrase_12char\":\"P Cloudy\",\"phrase_22char\":\"Partly Cloudy\",\"phrase_32char\":\"Partly Cloudy\",\"subphrase_pt1\":\"Partly\",\"subphrase_pt2\":\"Cloudy\",\"subphrase_pt3\":\"\",\"pop\":24,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":32,\"wspd\":10,\"wdir\":317,\"wdir_cardinal\":\"NW\",\"gust\":null,\"clds\":58,\"vis\":16,\"mslp\":1011.2,\"uv_index_raw\":3.94,\"uv_index\":4,\"uv_warning\":0,\"uv_desc\":\"Moderate\",\"golf_index\":8,\"golf_category\":\"Very Good\",\"severity\":1},{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586606400,\"fcst_valid_local\":\"2020-04-11T15:00:00+0300\",\"num\":4,\"day_ind\":\"D\",\"temp\":17,\"dewpt\":0,\"hi\":17,\"wc\":17,\"feels_like\":17,\"icon_extd\":4600,\"wxman\":\"wx2000\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Few Showers\",\"phrase_22char\":\"Few Showers\",\"phrase_32char\":\"Few Showers\",\"subphrase_pt1\":\"Few\",\"subphrase_pt2\":\"Showers\",\"subphrase_pt3\":\"\",\"pop\":32,\"precip_type\":\"rain\",\"qpf\":0.02,\"snow_qpf\":0,\"rh\":32,\"wspd\":9,\"wdir\":300,\"wdir_cardinal\":\"WNW\",\"gust\":null,\"clds\":61,\"vis\":16,\"mslp\":1011.12,\"uv_index_raw\":2.63,\"uv_index\":3,\"uv_warning\":0,\"uv_desc\":\"Moderate\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586610000,\"fcst_valid_local\":\"2020-04-11T16:00:00+0300\",\"num\":5,\"day_ind\":\"D\",\"temp\":17,\"dewpt\":1,\"hi\":17,\"wc\":17,\"feels_like\":17,\"icon_extd\":1100,\"wxman\":\"wx2500\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":48,\"precip_type\":\"rain\",\"qpf\":0.22,\"snow_qpf\":0,\"rh\":35,\"wspd\":10,\"wdir\":314,\"wdir_cardinal\":\"NW\",\"gust\":null,\"clds\":81,\"vis\":14,\"mslp\":1011.4,\"uv_index_raw\":0.96,\"uv_index\":1,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586613600,\"fcst_valid_local\":\"2020-04-11T17:00:00+0300\",\"num\":6,\"day_ind\":\"D\",\"temp\":16,\"dewpt\":2,\"hi\":16,\"wc\":16,\"feels_like\":16,\"icon_extd\":1100,\"wxman\":\"wx2500\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":46,\"precip_type\":\"rain\",\"qpf\":0.1,\"snow_qpf\":0,\"rh\":38,\"wspd\":10,\"wdir\":326,\"wdir_cardinal\":\"NW\",\"gust\":null,\"clds\":76,\"vis\":16,\"mslp\":1012.2,\"uv_index_raw\":0.34,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586617200,\"fcst_valid_local\":\"2020-04-11T18:00:00+0300\",\"num\":7,\"day_ind\":\"D\",\"temp\":14,\"dewpt\":1,\"hi\":14,\"wc\":13,\"feels_like\":13,\"icon_extd\":1100,\"wxman\":\"wx2500\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":40,\"precip_type\":\"rain\",\"qpf\":0.75,\"snow_qpf\":0,\"rh\":41,\"wspd\":17,\"wdir\":326,\"wdir_cardinal\":\"NW\",\"gust\":28,\"clds\":81,\"vis\":7,\"mslp\":1013.13,\"uv_index_raw\":0.06,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586620800,\"fcst_valid_local\":\"2020-04-11T19:00:00+0300\",\"num\":8,\"day_ind\":\"N\",\"temp\":13,\"dewpt\":2,\"hi\":13,\"wc\":11,\"feels_like\":11,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Saturday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":20,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":48,\"wspd\":17,\"wdir\":318,\"wdir_cardinal\":\"NW\",\"gust\":29,\"clds\":84,\"vis\":16,\"mslp\":1014.3,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586624400,\"fcst_valid_local\":\"2020-04-11T20:00:00+0300\",\"num\":9,\"day_ind\":\"N\",\"temp\":12,\"dewpt\":3,\"hi\":12,\"wc\":10,\"feels_like\":10,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":35,\"precip_type\":\"rain\",\"qpf\":0.2,\"snow_qpf\":0,\"rh\":58,\"wspd\":16,\"wdir\":315,\"wdir_cardinal\":\"NW\",\"gust\":29,\"clds\":88,\"vis\":16,\"mslp\":1015.4,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586628000,\"fcst_valid_local\":\"2020-04-11T21:00:00+0300\",\"num\":10,\"day_ind\":\"N\",\"temp\":10,\"dewpt\":4,\"hi\":10,\"wc\":8,\"feels_like\":8,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":41,\"precip_type\":\"rain\",\"qpf\":0.2,\"snow_qpf\":0,\"rh\":66,\"wspd\":18,\"wdir\":322,\"wdir_cardinal\":\"NW\",\"gust\":31,\"clds\":88,\"vis\":16,\"mslp\":1016.22,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586631600,\"fcst_valid_local\":\"2020-04-11T22:00:00+0300\",\"num\":11,\"day_ind\":\"N\",\"temp\":9,\"dewpt\":4,\"hi\":9,\"wc\":7,\"feels_like\":7,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":43,\"precip_type\":\"rain\",\"qpf\":0.22,\"snow_qpf\":0,\"rh\":68,\"wspd\":18,\"wdir\":313,\"wdir_cardinal\":\"NW\",\"gust\":33,\"clds\":92,\"vis\":16,\"mslp\":1016.8,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586635200,\"fcst_valid_local\":\"2020-04-11T23:00:00+0300\",\"num\":12,\"day_ind\":\"N\",\"temp\":9,\"dewpt\":4,\"hi\":9,\"wc\":6,\"feels_like\":6,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":43,\"precip_type\":\"rain\",\"qpf\":0.22,\"snow_qpf\":0,\"rh\":73,\"wspd\":18,\"wdir\":318,\"wdir_cardinal\":\"NW\",\"gust\":33,\"clds\":93,\"vis\":16,\"mslp\":1017.2,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586638800,\"fcst_valid_local\":\"2020-04-12T00:00:00+0300\",\"num\":13,\"day_ind\":\"N\",\"temp\":8,\"dewpt\":4,\"hi\":8,\"wc\":5,\"feels_like\":5,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Sunday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":45,\"precip_type\":\"rain\",\"qpf\":0.2,\"snow_qpf\":0,\"rh\":74,\"wspd\":16,\"wdir\":311,\"wdir_cardinal\":\"NW\",\"gust\":29,\"clds\":94,\"vis\":16,\"mslp\":1017.9,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586642400,\"fcst_valid_local\":\"2020-04-12T01:00:00+0300\",\"num\":14,\"day_ind\":\"N\",\"temp\":8,\"dewpt\":3,\"hi\":8,\"wc\":5,\"feels_like\":5,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Sunday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":42,\"precip_type\":\"rain\",\"qpf\":0.2,\"snow_qpf\":0,\"rh\":75,\"wspd\":14,\"wdir\":312,\"wdir_cardinal\":\"NW\",\"gust\":null,\"clds\":96,\"vis\":16,\"mslp\":1018.3,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586646000,\"fcst_valid_local\":\"2020-04-12T02:00:00+0300\",\"num\":15,\"day_ind\":\"N\",\"temp\":7,\"dewpt\":3,\"hi\":7,\"wc\":6,\"feels_like\":6,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Sunday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":41,\"precip_type\":\"rain\",\"qpf\":0.2,\"snow_qpf\":0,\"rh\":74,\"wspd\":10,\"wdir\":304,\"wdir_cardinal\":\"NW\",\"gust\":null,\"clds\":95,\"vis\":16,\"mslp\":1018.6,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586649600,\"fcst_valid_local\":\"2020-04-12T03:00:00+0300\",\"num\":16,\"day_ind\":\"N\",\"temp\":7,\"dewpt\":3,\"hi\":7,\"wc\":5,\"feels_like\":5,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":24,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":74,\"wspd\":10,\"wdir\":296,\"wdir_cardinal\":\"WNW\",\"gust\":null,\"clds\":94,\"vis\":16,\"mslp\":1019,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586653200,\"fcst_valid_local\":\"2020-04-12T04:00:00+0300\",\"num\":17,\"day_ind\":\"N\",\"temp\":7,\"dewpt\":2,\"hi\":7,\"wc\":5,\"feels_like\":5,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":23,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":74,\"wspd\":8,\"wdir\":286,\"wdir_cardinal\":\"WNW\",\"gust\":null,\"clds\":94,\"vis\":16,\"mslp\":1019.2,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586656800,\"fcst_valid_local\":\"2020-04-12T05:00:00+0300\",\"num\":18,\"day_ind\":\"N\",\"temp\":6,\"dewpt\":2,\"hi\":6,\"wc\":4,\"feels_like\":4,\"icon_extd\":2600,\"wxman\":\"wx1210\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":24,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":74,\"wspd\":9,\"wdir\":281,\"wdir_cardinal\":\"W\",\"gust\":null,\"clds\":93,\"vis\":16,\"mslp\":1019.6,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586660400,\"fcst_valid_local\":\"2020-04-12T06:00:00+0300\",\"num\":19,\"day_ind\":\"D\",\"temp\":6,\"dewpt\":1,\"hi\":6,\"wc\":4,\"feels_like\":4,\"icon_extd\":2600,\"wxman\":\"wx1210\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":22,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":72,\"wspd\":10,\"wdir\":278,\"wdir_cardinal\":\"W\",\"gust\":null,\"clds\":92,\"vis\":16,\"mslp\":1019.9,\"uv_index_raw\":0.03,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":4,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586664000,\"fcst_valid_local\":\"2020-04-12T07:00:00+0300\",\"num\":20,\"day_ind\":\"D\",\"temp\":7,\"dewpt\":1,\"hi\":7,\"wc\":4,\"feels_like\":4,\"icon_extd\":2600,\"wxman\":\"wx1210\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":22,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":68,\"wspd\":12,\"wdir\":286,\"wdir_cardinal\":\"WNW\",\"gust\":null,\"clds\":92,\"vis\":16,\"mslp\":1020.3,\"uv_index_raw\":0.18,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586667600,\"fcst_valid_local\":\"2020-04-12T08:00:00+0300\",\"num\":21,\"day_ind\":\"D\",\"temp\":7,\"dewpt\":0,\"hi\":7,\"wc\":5,\"feels_like\":5,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":19,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":61,\"wspd\":13,\"wdir\":297,\"wdir_cardinal\":\"WNW\",\"gust\":null,\"clds\":93,\"vis\":16,\"mslp\":1020.4,\"uv_index_raw\":0.56,\"uv_index\":1,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586671200,\"fcst_valid_local\":\"2020-04-12T09:00:00+0300\",\"num\":22,\"day_ind\":\"D\",\"temp\":8,\"dewpt\":-1,\"hi\":8,\"wc\":6,\"feels_like\":6,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":11,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":54,\"wspd\":13,\"wdir\":308,\"wdir_cardinal\":\"NW\",\"gust\":null,\"clds\":94,\"vis\":16,\"mslp\":1020.5,\"uv_index_raw\":1.14,\"uv_index\":1,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586674800,\"fcst_valid_local\":\"2020-04-12T10:00:00+0300\",\"num\":23,\"day_ind\":\"D\",\"temp\":9,\"dewpt\":-2,\"hi\":9,\"wc\":6,\"feels_like\":6,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":10,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":47,\"wspd\":16,\"wdir\":312,\"wdir_cardinal\":\"NW\",\"gust\":29,\"clds\":93,\"vis\":16,\"mslp\":1020.3,\"uv_index_raw\":1.78,\"uv_index\":2,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586678400,\"fcst_valid_local\":\"2020-04-12T11:00:00+0300\",\"num\":24,\"day_ind\":\"D\",\"temp\":10,\"dewpt\":-3,\"hi\":10,\"wc\":7,\"feels_like\":7,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":9,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":41,\"wspd\":18,\"wdir\":313,\"wdir_cardinal\":\"NW\",\"gust\":34,\"clds\":93,\"vis\":16,\"mslp\":1020.07,\"uv_index_raw\":2.3,\"uv_index\":2,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":6,\"golf_category\":\"Good\",\"severity\":1}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":620,"y":640,"wires":[["d5cc7d9b.4971b"]]},{"id":"a180e008.5ff4e","type":"ui_chart","z":"432dc11a.b8554","name":"","group":"3487cf39.3f61e","order":4,"width":0,"height":0,"label":"24 hour chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":960,"y":640,"wires":[[]]},{"id":"802ad7f7.be6978","type":"function","z":"61188e1e.be8c5","name":"Setup","func":"myurl= \"https://api.weather.com/v1/geocode/\"+global.get(\"lat\")+\"/\"+global.get(\"lon\")+\"/forecast/hourly/24hour.json?units=\"+global.get(\"unit\")+\"&language=en-US&apiKey=6532d6454b8aa370768e63d6ba5a832e\"//+global.get(\"twcapikey\")\nmsg.url=myurl\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":460,"wires":[["ebb7d499.1528a8"]]},{"id":"33281992.3e6d46","type":"function","z":"61188e1e.be8c5","name":"Check","func":"msg.payload={}\nmsg.payload.lat=global.get(\"lat\")\nmsg.payload.lon=global.get(\"lon\")\n\nmsg.payload.unit=global.get(\"unit\")\nif(msg.payload.unit === undefined)\n{\nmsg.payload.unit=\"m\"\nglobal.set(\"unit\",msg.payload.unit)\n}\nif(global.get(\"labid\") == \"NoLabID\")\nnode.warn(\"no LABID set please adjust \")\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":540,"wires":[["802ad7f7.be6978"]]},{"id":"1e9331f8.27ecae","type":"ui_button","z":"687b8770.a222a8","name":"","group":"da7241ca.ee1d5","order":5,"width":0,"height":0,"passthru":false,"label":"Get Weather","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":220,"wires":[["c85e67de.a24b38"]]},{"id":"4dd442c1.9124ac","type":"ui_dropdown","z":"432dc11a.b8554","name":"","label":"Units F/C","tooltip":"","place":"Select option","group":"da7241ca.ee1d5","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"F","value":"e","type":"str"},{"label":"C","value":"m","type":"str"}],"payload":"","topic":"","x":700,"y":760,"wires":[["83a823b9.2953e"]]},{"id":"122a3083.c8a9cf","type":"debug","z":"432dc11a.b8554","name":"Units","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":760,"wires":[]},{"id":"83a823b9.2953e","type":"function","z":"432dc11a.b8554","name":"SetUnit","func":"global.set(\"unit\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":760,"wires":[["122a3083.c8a9cf"]]},{"id":"33a2bd45.0e2a72","type":"link in","z":"432dc11a.b8554","name":"Util24H","links":["fd5f749a.ae0558"],"x":560,"y":580,"wires":[["de06d3c4.bfd89"]]},{"id":"fd5f749a.ae0558","type":"link out","z":"61188e1e.be8c5","name":"toDashboard","links":["33a2bd45.0e2a72"],"x":615,"y":540,"wires":[]},{"id":"5dbbb327.2e7fbc","type":"comment","z":"432dc11a.b8554","name":"24ForecastfromTWC","info":"","x":630,"y":540,"wires":[]},{"id":"b553782b.ba8c68","type":"http request","z":"61188e1e.be8c5","name":"Current Weather WU","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":740,"wires":[["78fdf720.b192e8","f4fd42a0.57d2b"]]},{"id":"78fdf720.b192e8","type":"debug","z":"61188e1e.be8c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":740,"wires":[]},{"id":"dc268023.34ad4","type":"function","z":"61188e1e.be8c5","name":"setup url.api call","func":"//\"https://api.weather.com/v2/pws/history/hourly?stationId=ITORONTO308&format=json&units=m&date={}&apiKey=\"\n    \nmsg.url= \"https://api.weather.com/v2/pws/observations/current?stationId=ITORONTO308&format=json&units=m&apiKey=\"+flow.get(\"twcapikey\")\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":740,"wires":[["b553782b.ba8c68"]]},{"id":"f4fd42a0.57d2b","type":"function","z":"61188e1e.be8c5","name":"Mapping","func":"msg.payloadold=msg.payload.observations[0]\nmsg.payload={}\nmsg.payload.temperature=msg.payloadold.metric.temp\nmsg.payload.observation=\"\"\nmsg.payload.humidity   =msg.payloadold.humidity\nmsg.payload.pressure   =msg.payloadold.metric.pressure\nmsg.payload.uvindex    =msg.payloadold.uvI\nmsg.payload.precip     =msg.payloadold.precipTotal\nmsg.payload.ts         =Date.now()\nmsg.payload.messtime   =msg.payloadold.obsTimeLocal\nmsg.payload.stationID=msg.payloadold.stationID\nmsg.payload.lat=msg.payloadold.lat\nmsg.payload.lon=msg.payloadold.lon\nreturn msg;\n/*\n{\n    \"cloudCeiling\": 5000,\n    \"cloudCoverPhrase\": \"Mostly Cloudy\",\n    \"dayOfWeek\": \"Friday\",\n    \"dayOrNight\": \"D\",\n    \"expirationTimeUtc\": 1586545455,\n    \"iconCode\": 28,\n    \"iconCodeExtend\": 2890,\n    \"obsQualifierCode\": null,\n    \"obsQualifierSeverity\": null,\n    \"precip1Hour\": 0,\n    \"precip6Hour\": 0,\n    \"precip24Hour\": 0,\n    \"pressureAltimeter\": 1005.08,\n    \"pressureChange\": 2.03,\n    \"pressureMeanSeaLevel\": 1005.2,\n    \"pressureTendencyCode\": 1,\n    \"pressureTendencyTrend\": \"Rising\",\n    \"relativeHumidity\": 42,\n    \"snow1Hour\": 0,\n    \"snow6Hour\": 0,\n    \"snow24Hour\": 0,\n    \"sunriseTimeLocal\": \"2020-04-10T06:43:19-0400\",\n    \"sunriseTimeUtc\": 1586515399,\n    \"sunsetTimeLocal\": \"2020-04-10T19:56:57-0400\",\n    \"sunsetTimeUtc\": 1586563017,\n    \"temperature\": 7,\n    \"temperatureChange24Hour\": -2,\n    \"temperatureDewPoint\": -5,\n    \"temperatureFeelsLike\": 2,\n    \"temperatureHeatIndex\": 7,\n    \"temperatureMax24Hour\": 8,\n    \"temperatureMaxSince7Am\": 7,\n    \"temperatureMin24Hour\": 1,\n    \"temperatureWindChill\": 2,\n    \"uvDescription\": \"Moderate\",\n    \"uvIndex\": 4,\n    \"validTimeLocal\": \"2020-04-10T14:54:15-0400\",\n    \"validTimeUtc\": 1586544855,\n    \"visibility\": 16.09,\n    \"windDirection\": 300,\n    \"windDirectionCardinal\": \"WNW\",\n    \"windGust\": 56,\n    \"windSpeed\": 37,\n    \"wxPhraseLong\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseMedium\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseShort\": \"M Cldy/Wind\"\n}\n*/","outputs":1,"noerr":0,"x":760,"y":800,"wires":[["1666447e.64bf0c"]]},{"id":"1666447e.64bf0c","type":"debug","z":"61188e1e.be8c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":800,"wires":[]},{"id":"66ff6f09.6131c","type":"inject","z":"61188e1e.be8c5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":740,"wires":[["dc268023.34ad4"]]},{"id":"196bbcd4.cbf423","type":"comment","z":"61188e1e.be8c5","name":"Weather Underground Example","info":"","x":150,"y":680,"wires":[]},{"id":"ee45e923.b3c478","type":"comment","z":"432dc11a.b8554","name":"to View is use https://thinklab??.mybluemix.net/ui/","info":"","x":250,"y":280,"wires":[]},{"id":"b0b56e8f.85cc3","type":"ui_template","z":"61188e1e.be8c5","group":"1397591e.d468e7","name":"Your IP Geo Location","order":0,"width":"14","height":"10","format":"<iframe src=\"/latlon\"  width=\"100%\" height=\"300\"></iframe>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":180,"wires":[[]]},{"id":"246abef6.0fc152","type":"function","z":"432dc11a.b8554","name":"Icons","func":"\n//https://github.com/Paul-Reed/weather-icons-lite/blob/master/css_mappings.md\n//msg.payload=\"wi-alien\"\nicon=\"wi-wu-nt_tstorms wi-rotate-180\"\n///observation are \n//Fair / Cloudy /Sunny /Partly Cloudy\nif(msg.payload.observation ==\"Fair\" )\nicon=\"wi-wu-nt_hazy\"\n\nif(msg.payload.observation ==\"Partly Cloudy\")\nicon=\"wi-wu-partlycloudy\"\n\nif(msg.payload.observation ==\"Cloudy\")\nicon=\"wi-wu-cloudy\"\n\nif(msg.payload.observation ==\"Sunny\")\nicon=\"wi-wu-clear-day\"\n\nicon=\"wi-wu-nt_tstorms wi-rotate-180\"\n\n\nmsg.payload=icon\n//msg.payload=\"wi-wu-nt_tstorms wi-rotate-180\"\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":400,"wires":[["8050dc29.9e3b8","2eed4316.7ffa9c"]]},{"id":"8050dc29.9e3b8","type":"ui_template","z":"432dc11a.b8554","group":"13021934.20b057","name":"weather icon","order":1,"width":"2","height":"2","format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"wi {{msg.payload}} wi-4x\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":310,"y":400,"wires":[[]]},{"id":"2eed4316.7ffa9c","type":"debug","z":"432dc11a.b8554","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":440,"wires":[]},{"id":"76508fb2.643f2","type":"ui_template","z":"61188e1e.be8c5","group":"bcc7c32f.f0981","name":"Clock Toolbar","order":2,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"global","x":760,"y":60,"wires":[[]]},{"id":"2471bcfa.744674","type":"ui_button","z":"687b8770.a222a8","name":"All PWS TAB","group":"c3ca51fe.2d4e6","order":5,"width":0,"height":0,"passthru":false,"label":"Show My PWS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":260,"wires":[["c85e67de.a24b38"]]},{"id":"6c61a27d.150eac","type":"inject","z":"77d54067.1c0e9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":160,"wires":[[]]},{"id":"fea64f6d.6e45a","type":"debug","z":"77d54067.1c0e9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":160,"wires":[]},{"id":"1b0eb314.771ffd","type":"comment","z":"77d54067.1c0e9","name":"What Can I DO / How does this work ?","info":"Add a function and change the payload...\nwe will demo it","x":330,"y":40,"wires":[]},{"id":"5f515176.946e6","type":"ui_text","z":"432dc11a.b8554","group":"da7241ca.ee1d5","order":5,"width":0,"height":0,"name":"","label":"Pressue","format":"{{msg.payload.pressure}}","layout":"row-spread","x":940,"y":80,"wires":[]},{"id":"f551b562.2798b8","type":"inject","z":"61188e1e.be8c5","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":620,"wires":[["9cd0bc5c.eb9eb"]]},{"id":"47c567dc.43e878","type":"debug","z":"61188e1e.be8c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":620,"wires":[]},{"id":"9cd0bc5c.eb9eb","type":"function","z":"61188e1e.be8c5","name":"C -> F","func":"val = msg.payload \nf = (val*1.8) + 32;\n\nmsg.payload = parseFloat(f).toFixed(1) + \" F\"\nreturn msg\n","outputs":1,"noerr":0,"x":270,"y":620,"wires":[["47c567dc.43e878"]]},{"id":"f1d58a55.8ea368","type":"comment","z":"61188e1e.be8c5","name":"","info":"","x":100,"y":580,"wires":[]},{"id":"8ce5d7c4.34c908","type":"comment","z":"432dc11a.b8554","name":"Excerise: Find your Own Citty/Traffic Cam","info":"https://www.toronto.ca/services-payments/streets-parking-transportation/road-restrictions-closures/rescu-traffic-cameras/","x":980,"y":480,"wires":[]},{"id":"bb26798c.710ec8","type":"inject","z":"a7abe019.5585b","name":"Init TWC API Key","topic":"","payload":"true","payloadType":"bool","repeat":"30","crontab":"","once":true,"onceDelay":"2","x":170,"y":300,"wires":[["d9f7ecdc.0bb67"]]},{"id":"9a0a575b.f9bb58","type":"debug","z":"a7abe019.5585b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":300,"wires":[]},{"id":"be4ad53f.0f8bd8","type":"change","z":"a7abe019.5585b","name":"Set Location","rules":[{"t":"set","p":"lat","pt":"global","to":"28","tot":"str"},{"t":"set","p":"lon","pt":"global","to":"-43","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":380,"wires":[["5f1b2831.4ef5b8","3d06b1f4.f703de"]]},{"id":"d33d19ef.27d5e8","type":"inject","z":"a7abe019.5585b","name":"Set Default Location (Lat/Lon)","topic":"","payload":"true","payloadType":"bool","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":210,"y":380,"wires":[["be4ad53f.0f8bd8"]]},{"id":"5247ac7f.0e6494","type":"change","z":"a7abe019.5585b","name":"SET LAB ID","rules":[{"t":"set","p":"labid","pt":"global","to":"NoLabID","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":180,"wires":[["77b69199.482f1"]]},{"id":"26b05150.6e988e","type":"inject","z":"a7abe019.5585b","name":"LABID","topic":"","payload":"true","payloadType":"bool","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":140,"y":180,"wires":[["5247ac7f.0e6494"]]},{"id":"9d596fd3.bff7b","type":"debug","z":"a7abe019.5585b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":220,"wires":[]},{"id":"77b69199.482f1","type":"function","z":"a7abe019.5585b","name":"REQUIRED !!!! Labid","func":"msg.payload=global.get(\"labid\")\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":180,"wires":[["9d596fd3.bff7b"]]},{"id":"796a8b27.909574","type":"comment","z":"a7abe019.5585b","name":" Get a Weather API key","info":"1. Get Your ID  via thinklab1239.mybluemix.net/claimids\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/\n4. 5424e9662cbf4bc3a4e9662cbf4bc3fe","x":180,"y":220,"wires":[]},{"id":"cfc00d82.68608","type":"comment","z":"a7abe019.5585b","name":"Excerise/Setup - Set LABID","info":"1. Get Your ID  via https://thinklab1239.mybluemix.net/claimid\n2. Set Your Location you can find it here\n3. https://www.latlong.net/\n3. Get a Weather API key https://callforcode.weather.com/register/","x":200,"y":140,"wires":[]},{"id":"df4bfcd3.e2f62","type":"comment","z":"a7abe019.5585b","name":"Optional  - Set TWC API Key","info":"1. Get Your ID  via thinklab1239.mybluemix.net/claimids\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/","x":200,"y":260,"wires":[]},{"id":"9807ff11.80046","type":"comment","z":"a7abe019.5585b","name":"3rd Step - Set Your Lat/Lon location","info":"1. Get Your ID  via thinklab1239.mybluemix.net/claimids\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/","x":200,"y":340,"wires":[]},{"id":"5f1b2831.4ef5b8","type":"debug","z":"a7abe019.5585b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":380,"wires":[]},{"id":"3d06b1f4.f703de","type":"function","z":"a7abe019.5585b","name":"REQUIRED !!!! latlon","func":"msg.payload={}\nmsg.payload.lat=global.get(\"lat\")\nmsg.payload.lon=global.get(\"lon\")\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":340,"wires":[["5f1b2831.4ef5b8"]]},{"id":"211e0286.e6367e","type":"inject","z":"a7abe019.5585b","name":"Set Unit","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"5","x":140,"y":480,"wires":[["20affa69.6cd806"]]},{"id":"cdaa4fa3.983b5","type":"debug","z":"a7abe019.5585b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":480,"wires":[]},{"id":"791bb92b.e5e908","type":"comment","z":"a7abe019.5585b","name":"^^^^^^^^^^^","info":"","x":460,"y":220,"wires":[]},{"id":"cd1ed8f3.91c998","type":"comment","z":"a7abe019.5585b","name":"^^^^^^^^^^^ avoid spaces","info":"use this url location ","x":500,"y":420,"wires":[]},{"id":"d9f7ecdc.0bb67","type":"function","z":"a7abe019.5585b","name":"New key Set TWC API Key here","func":"global.set(\"twcapikey\",\"5424e9662cbf4bc3a4e9662cbf4bc3fe\")\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":300,"wires":[["9a0a575b.f9bb58"]]},{"id":"20affa69.6cd806","type":"function","z":"a7abe019.5585b","name":"Default Unit Metric","func":"global.set(\"unit\",\"m\")\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":480,"wires":[["cdaa4fa3.983b5"]]},{"id":"22c483b8.170ebc","type":"comment","z":"687b8770.a222a8","name":"Excerise ","info":"todo....\nSet the API call to an interval of 30 Sec \n\nenable the debug node at the bottom of the flow and make sure the weather information which you send into usign your device is coming back.\n\nNote: Make sure the debug window does not show error message like \"Please set your LAB ID\"","x":120,"y":80,"wires":[]},{"id":"ce28bd98.b9623","type":"comment","z":"a7abe019.5585b","name":"get your LABid form http://thinklab1239.mybluemix.net/claimid","info":"","x":890,"y":80,"wires":[]},{"id":"2f5ca988.326726","type":"comment","z":"a7abe019.5585b","name":"VERSION:20200501","info":"","x":750,"y":40,"wires":[]},{"id":"a5c2fe89.c7714","type":"comment","z":"687b8770.a222a8","name":"What is this / want can I do?","info":"Here we call the weather api and get the current weather for our location.\n\nSee the http Node for details \n\nWe send the weather information to our IoT device with the deviceID pws+LABID like pws42\n\nt","x":180,"y":40,"wires":[]},{"id":"bd922c6e.5ae9d","type":"comment","z":"432dc11a.b8554","name":"Excerise ","info":"\n1. Add some data to our dashboard like pressure. \n\n2.\tExercise  Change you marker Icon to an emoji\nhttps://github.com/dceejay/RedMap/blob/master/emojilist.md\n\n3.\tExercise  Change the Traffic cam Image \nChange the feed form the traffic cam to like NYC \n\nNYC traffic cams can be found here. https://511ny.org/map#Camera\n\n4. Addjust the weather icons with the matching connidions\n\n5. Add more informaton like the SunRise and winddirection  to yout mapping on the sensor tab\n6. Connect the 24 hour forcast on the Util Page \n","x":580,"y":120,"wires":[]},{"id":"b1d9c753.605998","type":"comment","z":"432dc11a.b8554","name":"What is this / want can I do?","info":"This is the Dashboard or you PWS. Its displaying the sensor/device information like temperature and some text like conditions. \n\n\nthe dashboard is available via the url liek\n\nhttps://thinklab<YOURLABID>.mybluemix.net/ui/","x":640,"y":80,"wires":[]},{"id":"a8ebff49.9738f","type":"comment","z":"61188e1e.be8c5","name":"What is this / want can I do?","info":"This page has some utilifunctions like a page to read the browser lat/lon\n\nhttps://thinklabLABID.mybluemix.net/latlon\n\n2. url request to get iss space station\n3. Weather api call for a 24 Forecast\n4. example to calulate C to F\n5. a utlity to show the clock in the masthead","x":440,"y":60,"wires":[]},{"id":"701bead2.e3a104","type":"comment","z":"77d54067.1c0e9","name":"Intro https://nodered.org/","info":"https://nodered.org/","x":650,"y":40,"wires":[]},{"id":"6c07f76a.831528","type":"websocket in","z":"bb108297.56268","name":"","server":"13174872.1f13c8","client":"","x":600,"y":180,"wires":[["b6a432cc.e568","241db8b.dcb1d48"]]},{"id":"1dba1604.2e513a","type":"websocket out","z":"bb108297.56268","name":"","server":"13174872.1f13c8","client":"","x":580,"y":80,"wires":[]},{"id":"31affc80.f29a64","type":"function","z":"bb108297.56268","name":"{\"cmd\":\"Hello\"}","func":"msg.payload={\"cmd\":\"hello\"}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":80,"wires":[["1dba1604.2e513a"]]},{"id":"562802f5.25d4dc","type":"inject","z":"bb108297.56268","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"30","crontab":"","once":false,"onceDelay":"","x":110,"y":80,"wires":[["31affc80.f29a64"]]},{"id":"7ef4be33.67f26","type":"function","z":"bb108297.56268","name":"{\"cmd\":","func":"cmd=msg.payload\nmsg.payload={}\nmsg.payload.cmd=cmd\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["1dba1604.2e513a"]]},{"id":"d695adde.f2316","type":"inject","z":"bb108297.56268","name":"","topic":"","payload":"getInfo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":240,"wires":[["7ef4be33.67f26"]]},{"id":"cc3e89a.976e678","type":"function","z":"bb108297.56268","name":"{\"cmd\":","func":"cmd=msg.payload\nmsg.payload={}\nmsg.payload.cmd=cmd\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":360,"wires":[["1dba1604.2e513a"]]},{"id":"dc29b40d.230f08","type":"inject","z":"bb108297.56268","name":"","topic":"","payload":"getJan2017","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":360,"wires":[["cc3e89a.976e678"]]},{"id":"b6a432cc.e568","type":"json","z":"bb108297.56268","name":"","property":"payload","action":"","pretty":false,"x":640,"y":240,"wires":[["cd80054e.4dedb8","82b7ba1f.cb5e18","c248ece6.722a","84f9768a.5b4a48"]]},{"id":"cd80054e.4dedb8","type":"debug","z":"bb108297.56268","name":"InComing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":920,"y":240,"wires":[]},{"id":"3d15728d.25dbde","type":"function","z":"bb108297.56268","name":"Get Jan","func":"//msg.payload={\"Rainy\":{\"0\":\"Wet\",\"1\":\"Dry\"},\"Days\":{\"0\":20,\"1\":10},\"month_name\":{\"0\":\"Jan\",\"1\":\"Jan\"},\"cmd\":\"getInfo\"}\n//incoming\n//mymsg.payload={\"Wet\":9,\"Dry\":22,\"Month\":\"Jan\",\"Year\":2017,\"cmd\":\"getJan2017\"}\n\nmymsg={}\nmymsg.payload=[{\n    \"series\": [ \"Dry\", \"Wet\"],\n    \"data\": [ [5], [3] ],\n    \"labels\": [ \"Jan\" ]\n}]\n//node.warn(mymsg.payload[0].data[1])\n\nmymsg.payload[0].data[0][0]=msg.payload.Dry\nmymsg.payload[0].data[1][0]=msg.payload.Wet\nreturn mymsg","outputs":1,"noerr":0,"x":940,"y":480,"wires":[["c9aace72.b5d91","85e142e3.3727a"]]},{"id":"c9aace72.b5d91","type":"ui_chart","z":"bb108297.56268","name":"","group":"44f18fda.2ce4a","order":1,"width":0,"height":0,"label":"Month Rain History","chartType":"bar","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1190,"y":440,"wires":[[]]},{"id":"85e142e3.3727a","type":"debug","z":"bb108297.56268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":480,"wires":[]},{"id":"67d32257.c93e5c","type":"ui_button","z":"bb108297.56268","name":"","group":"f4dbbd7a.c32cf","order":3,"width":0,"height":0,"passthru":false,"label":"Get Jan 2017 Rain","tooltip":"","color":"","bgcolor":"","icon":"","payload":"getJan2017","payloadType":"str","topic":"","x":130,"y":400,"wires":[["cc3e89a.976e678"]]},{"id":"eac3d411.f8c768","type":"function","z":"bb108297.56268","name":"Clear","func":"mymsg={}\nmymsg.payload=[]\nreturn mymsg","outputs":1,"noerr":0,"x":930,"y":520,"wires":[["c9aace72.b5d91"]]},{"id":"82b7ba1f.cb5e18","type":"switch","z":"bb108297.56268","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"getTemp","vt":"str"},{"t":"eq","v":"getInfo","vt":"str"},{"t":"eq","v":"getMonth","vt":"str"},{"t":"eq","v":"getJan2017","vt":"str"},{"t":"eq","v":"getRain","vt":"str"},{"t":"eq","v":"getRange","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":650,"y":340,"wires":[["d33e0ede.0e7e3","9f79634c.3e45e","3bc7c2ef.c54b2e"],["fbd36d31.60b"],["e1caa713.9c2f58"],["3d15728d.25dbde"],["8bdaf0b8.56c9b"],["b6a6c42c.62bf18"],[]]},{"id":"e1caa713.9c2f58","type":"function","z":"bb108297.56268","name":"getMonth","func":"//msg.payload={\"month\":\"Feb\",\"cmd\":\"getInfo\",\"dry\":9,\"wet\":19}\n\nmymsg={}\nmymsg.payload=[{\n    \"series\": [ \"Dry\", \"Wet\"],\n    \"data\": [ [5], [3] ],\n    \"labels\": [ \"Jan\" ]\n}]\n//node.warn(mymsg.payload[0].data[1])\nif( msg.payload.wet === undefined)\nmsg.payload.dry\nif( msg.payload.dry === undefined)\nmsg.payload.dry\nmymsg.payload[0].data[0][0]=msg.payload.dry\nmymsg.payload[0].data[1][0]=msg.payload.wet\nmymsg.payload[0].labels[0]=msg.payload.month+\"-\"+msg.payload.year\nreturn mymsg","outputs":1,"noerr":0,"x":940,"y":440,"wires":[["c9aace72.b5d91"]]},{"id":"fbd36d31.60b","type":"ui_gauge","z":"bb108297.56268","name":"","group":"f8191090.6edb2","order":1,"width":0,"height":0,"gtype":"gage","title":"# of Records","label":"units","format":"{{msg.payload.tablesize}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":400,"wires":[]},{"id":"19bfd208.326a4e","type":"ui_button","z":"bb108297.56268","name":"","group":"f4dbbd7a.c32cf","order":1,"width":0,"height":0,"passthru":false,"label":"Get  Info","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"getInfo\",\"month\":\"Apr\"}","payloadType":"json","topic":"","x":280,"y":280,"wires":[["1dba1604.2e513a"]]},{"id":"5467216c.c377b","type":"inject","z":"bb108297.56268","name":"getTemp","topic":"getTemp","payload":"{\"cmd\":\"getTemp\",\"month\":\"Mar\",\"year\":\"2018\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":280,"y":160,"wires":[["1dba1604.2e513a"]]},{"id":"e9a9af48.f94c","type":"ui_button","z":"bb108297.56268","name":"","group":"f4dbbd7a.c32cf","order":2,"width":0,"height":0,"passthru":false,"label":"Get Temp Mar2018","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"getTemp\",\"month\":\"Mar\",\"year\":\"2018\"}","payloadType":"json","topic":"","x":250,"y":200,"wires":[["1dba1604.2e513a"]]},{"id":"d33e0ede.0e7e3","type":"debug","z":"bb108297.56268","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":280,"wires":[]},{"id":"9f79634c.3e45e","type":"ui_gauge","z":"bb108297.56268","name":"","group":"f8191090.6edb2","order":2,"width":0,"height":0,"gtype":"gage","title":"Monthy Temp Avg","label":"units","format":"{{msg.payload.Temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":320,"wires":[]},{"id":"3bc7c2ef.c54b2e","type":"ui_gauge","z":"bb108297.56268","name":"","group":"f8191090.6edb2","order":3,"width":0,"height":0,"gtype":"gage","title":"RH %  Avg","label":"units","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":360,"wires":[]},{"id":"b434a021.6073","type":"ui_dropdown","z":"bb108297.56268","name":"","label":"Choose Month","tooltip":"","place":"Select option","group":"f4dbbd7a.c32cf","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"Jan","value":"Jan","type":"str"},{"label":"Feb","value":"Feb","type":"str"},{"label":"Mar","value":"Mar","type":"str"},{"label":"Apr","value":"Apr","type":"str"},{"label":"May","value":"May","type":"str"}],"payload":"","topic":"","x":120,"y":680,"wires":[["488572ad.09873c"]]},{"id":"5662d16.24a9e3","type":"ui_button","z":"bb108297.56268","name":"","group":"44f18fda.2ce4a","order":3,"width":0,"height":0,"passthru":false,"label":"Clear History","tooltip":"","color":"","bgcolor":"","icon":"","payload":"getJan","payloadType":"str","topic":"","x":730,"y":520,"wires":[["eac3d411.f8c768","b6a6c42c.62bf18"]]},{"id":"c248ece6.722a","type":"ui_text","z":"bb108297.56268","group":"44f18fda.2ce4a","order":4,"width":"6","height":"2","name":"","label":"Incoming","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":200,"wires":[]},{"id":"241db8b.dcb1d48","type":"debug","z":"bb108297.56268","name":"InComing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":140,"wires":[]},{"id":"84f9768a.5b4a48","type":"function","z":"bb108297.56268","name":"","func":"msg.payload.ts=Date.now()\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":160,"wires":[["7e070e.8d54d8f4"]]},{"id":"7e070e.8d54d8f4","type":"ui_text","z":"bb108297.56268","group":"f4dbbd7a.c32cf","order":5,"width":"6","height":"2","name":"","label":"LastMessage","format":"{{msg.payload.ts}}","layout":"row-spread","x":1200,"y":160,"wires":[]},{"id":"a3b1ca4e.ca4148","type":"function","z":"bb108297.56268","name":"{\"cmd\": getRain","func":"month=msg.payload\nmsg.payload={\"cmd\":\"getRain\",\"month\":\"Feb\",\"year\":\"2018\"}\n//msg.payload.month=month\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":480,"wires":[["741f1ce7.bfe774"]]},{"id":"a434d610.526028","type":"inject","z":"bb108297.56268","name":"","topic":"","payload":"getRain2018","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":480,"wires":[["a3b1ca4e.ca4148"]]},{"id":"741f1ce7.bfe774","type":"function","z":"bb108297.56268","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":440,"wires":[["1dba1604.2e513a"]]},{"id":"8bdaf0b8.56c9b","type":"function","z":"bb108297.56268","name":"getMonthRain","func":"//incoming {\"Wet\":10,\"Dry\":18,\"Month\":\"Feb\",\"Year\":\"2018\",\"cmd\":\"getRain\"}\n\nmymsg={}\nmymsg.payload=[{\n    \"series\": [ \"Dry\", \"Wet\"],\n    \"data\": [ [5], [3] ],\n    \"labels\": [ \"Jan\" ]\n}]\n\nmymsg.payload[0].data[0][0]=msg.payload.Dry\nmymsg.payload[0].data[1][0]=msg.payload.Wet\nmymsg.payload[0].labels[0]=msg.payload.Month+\"-\"+msg.payload.Year\nreturn mymsg","outputs":1,"noerr":0,"x":960,"y":560,"wires":[["c9aace72.b5d91"]]},{"id":"ac9838a7.0ebe28","type":"ui_button","z":"bb108297.56268","name":"","group":"f4dbbd7a.c32cf","order":4,"width":0,"height":0,"passthru":false,"label":"Get Feb 2018 Rain","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"getMonth\",\"month\":\"Feb\"}","payloadType":"json","topic":"","x":110,"y":520,"wires":[["a3b1ca4e.ca4148"]]},{"id":"b234432b.3afd2","type":"ui_dropdown","z":"bb108297.56268","name":"","label":"Choose Year","tooltip":"","place":"Select option","group":"f4dbbd7a.c32cf","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"2010","value":"2010","type":"str"},{"label":"2012","value":"2012","type":"str"},{"label":"2017","value":"2017","type":"str"}],"payload":"","topic":"","x":110,"y":720,"wires":[["44ce8f7d.bab8d"]]},{"id":"488572ad.09873c","type":"function","z":"bb108297.56268","name":"set month","func":"flow.set(\"month\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":680,"wires":[[]]},{"id":"44ce8f7d.bab8d","type":"function","z":"bb108297.56268","name":"set flow","func":"flow.set(\"year\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":720,"wires":[[]]},{"id":"70f4d6fa.0d6558","type":"ui_button","z":"bb108297.56268","name":"","group":"f4dbbd7a.c32cf","order":8,"width":0,"height":0,"passthru":false,"label":"Get Rain","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"getMonth\",\"month\":\"Feb\"}","payloadType":"json","topic":"","x":100,"y":780,"wires":[["5cab56d1.c57f48"]]},{"id":"5cab56d1.c57f48","type":"function","z":"bb108297.56268","name":"{\"cmd\": getTemp/hr for Month","func":"month=msg.payload\nmsg.payload={\"cmd\":\"getRain\",\"month\":flow.get(\"month\"),\"year\":flow.get(\"year\")}\n//msg.payload.month=month\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":780,"wires":[["741f1ce7.bfe774","7af780ad.d535f"]]},{"id":"7af780ad.d535f","type":"debug","z":"bb108297.56268","name":"getRain","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":820,"wires":[]},{"id":"eb5e259a.1a6378","type":"inject","z":"bb108297.56268","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":820,"wires":[["5cab56d1.c57f48"]]},{"id":"3f80695d.138896","type":"inject","z":"bb108297.56268","name":"Range","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":690,"y":780,"wires":[["ef3e6677.d14338"]]},{"id":"ef3e6677.d14338","type":"function","z":"bb108297.56268","name":"GetRange","func":"month=msg.payload\n//#msg.payload={\"cmd\":\"getRange\",\"start\": flow.get(\"year\")+\"-\"+flow.get(\"startrange\"),\"end\": flow.get(\"year\")+\"-\"+flow.get(\"endrange\")}\nmsg.payload={\"cmd\":\"getRange\",\"start\": flow.get(\"year\")+\"-01\",\"end\": flow.get(\"year\")+\"-03\"}\n\n//msg.payload.month=month\nreturn msg;\n//{\"cmd\":\"getRange\",\"info\":[{\"date\":1485820800000,\"Dry\":22,\"Wet\":9,\"year\":2017,\"month_name\":\"Jan\",\"temp_c_max\":7.69},{\"date\":1488240000000,\"Dry\":25,\"Wet\":3,\"year\":2017,\"month_name\":\"Feb\",\"temp_c_max\":10.46},{\"date\":1490918400000,\"Dry\":26,\"Wet\":5,\"year\":2017,\"month_name\":\"Mar\",\"temp_c_max\":10.16}]}\n","outputs":1,"noerr":0,"x":680,"y":740,"wires":[["741f1ce7.bfe774","d7a23c0e.61144"]]},{"id":"d7a23c0e.61144","type":"debug","z":"bb108297.56268","name":"getRange","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":740,"wires":[]},{"id":"77081a9f.b1b114","type":"ui_chart","z":"bb108297.56268","name":"","group":"44f18fda.2ce4a","order":2,"width":0,"height":0,"label":"3 Month ","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1160,"y":580,"wires":[[]]},{"id":"b6a6c42c.62bf18","type":"function","z":"bb108297.56268","name":"getRainMRange","func":"mpy = {\"cmd\":\"getRange\",\"info\":[\n{\"date\":1485820800000,\"Dry\":22,\"Wet\":9,\"year\":2017,\"month_name\":\"Jan\",\"temp_c_max\":7.69},\n{\"date\":1488240000000,\"Dry\":25,\"Wet\":3,\"year\":2017,\"month_name\":\"Feb\",\"temp_c_max\":10.46},\n{\"date\":1490918400000,\"Dry\":26,\"Wet\":5,\"year\":2017,\"month_name\":\"Mar\",\"temp_c_max\":10.16},\n{\"date\":1490918400000,\"Dry\":16,\"Wet\":15,\"year\":2017,\"month_name\":\"Apr\",\"temp_c_max\":10.16},\n]}\n\n\nmymsg={}\nmymsg.payload=[{\n    \"series\": [[ \"Dry\"],[ \"Wet\"]],\n    \"data\": [[15,11,9],[5,10,8] ],\n    \"labels\": [ \"Jan\" ,\"Feb\",\"Mar\"]\n}]\n\n//node.warn(mymsg.payload[0].data[0][0])\n//node.warn(mpy)\nmsg.payload.info.forEach(function(entry,idx) \n{\n\n\nmymsg.payload[0].data[0][idx] = entry.Dry\nmymsg.payload[0].data[1][idx] = entry.Wet\n//mymsg.payload[0].data[0][1] = mpy.info[1].Dry\n//mymsg.payload[0].data[0][2] = mpy.info[2].Dry\nmymsg.payload[0].labels[idx] = entry.year+\"-\"+entry.month_name\n\n})\n\nreturn mymsg\n","outputs":1,"noerr":0,"x":960,"y":600,"wires":[["77081a9f.b1b114","9925c709.8d0838"]]},{"id":"ab101ad5.d23918","type":"ui_button","z":"bb108297.56268","name":"","group":"f4dbbd7a.c32cf","order":11,"width":0,"height":0,"passthru":false,"label":"Range","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":670,"y":820,"wires":[["ef3e6677.d14338"]]},{"id":"9925c709.8d0838","type":"debug","z":"bb108297.56268","name":"getRange","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1160,"y":620,"wires":[]},{"id":"e27977a0.b6ed08","type":"comment","z":"bb108297.56268","name":"Excerise ","info":"Add some more functioanlity to the UI ..like make the getRange flexible its hard code at the momment. Add more month and years to the drop downs.","x":780,"y":80,"wires":[]},{"id":"52d40853.be36c8","type":"comment","z":"bb108297.56268","name":"Whats is this / want can I do?","info":"This is the node-red flow and dashboard which send command to retrieve data from the python nodebook in watson studio \n\nYou can use the /UI to rigger comand or the injections and monitor the debug console.\n","x":840,"y":40,"wires":[]},{"id":"ce927cfc.b0241","type":"comment","z":"a7abe019.5585b","name":"What is this / want can I do?","info":"This is the setup Tab/Pages where you have\nto setup your LABID which you can get here\nhttps://thinklab1239.mybluemix.net/claimid\n\nyou also need your citys Lat/Lon which you can here https://www.latlong.net/\n\nyou also can get your own weather api key here\nhttps://callforcode.weather.com/register/","x":200,"y":40,"wires":[]},{"id":"e67604f4.7a0688","type":"comment","z":"8e6cdf4d.d2831","name":"Excerise ","info":"\nTry to change the PWS icon of your PWS ...","x":160,"y":80,"wires":[]},{"id":"b3e69936.520448","type":"comment","z":"8e6cdf4d.d2831","name":"What is this / want can I do?","info":"This Tab display all PWS Devices which come in via the IoT plattform","x":220,"y":40,"wires":[]},{"id":"12642690.d6bf29","type":"websocket out","z":"d507e9c1.225528","name":"","server":"d76122c.dd372e","client":"","x":570,"y":180,"wires":[]},{"id":"997d9072.65808","type":"function","z":"d507e9c1.225528","name":"{\"cmd\":\"Hello\"}","func":"msg.payload={\"cmd\":\"hello\",\"message\":\"hello to python\"}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["12642690.d6bf29","d39bbbd4.a640e8"]]},{"id":"e215fad2.35fd08","type":"inject","z":"d507e9c1.225528","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"30","crontab":"","once":false,"onceDelay":"","x":150,"y":180,"wires":[["997d9072.65808"]]},{"id":"ed47952c.723c68","type":"websocket in","z":"d507e9c1.225528","name":"","server":"d76122c.dd372e","client":"","x":560,"y":120,"wires":[["2d114a45.593306","9944bef3.d17d"]]},{"id":"2d114a45.593306","type":"json","z":"d507e9c1.225528","name":"","property":"payload","action":"obj","pretty":false,"x":770,"y":220,"wires":[["cde0e41b.9ed5b8","a21b7bed.dbfb68","7a5ef2c8.28730c"]]},{"id":"cde0e41b.9ed5b8","type":"ui_text","z":"d507e9c1.225528","group":"3f0f51c5.111b8e","order":6,"width":"6","height":"2","name":"","label":"Incoming","format":"{{msg.payload}}","layout":"row-spread","x":1280,"y":220,"wires":[]},{"id":"9944bef3.d17d","type":"debug","z":"d507e9c1.225528","name":"InComing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":120,"wires":[]},{"id":"a21b7bed.dbfb68","type":"function","z":"d507e9c1.225528","name":"","func":"msg.payload.ts=Date.now()\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":160,"wires":[["1bae576a.4f6e19"]]},{"id":"2dfcba2e.18c8a6","type":"function","z":"d507e9c1.225528","name":"set flow year","func":"flow.set(\"year\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":640,"wires":[[]]},{"id":"c3797699.7a67c8","type":"function","z":"d507e9c1.225528","name":"set flow month","func":"flow.set(\"month\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":720,"wires":[[]]},{"id":"a1f9b69f.5620f8","type":"function","z":"d507e9c1.225528","name":"{\"cmd\": getTemp/hr for Month","func":"month=msg.payload\nmsg.payload={\"cmd\":\"getRain\",\"month\":flow.get(\"month\"),\"year\":flow.get(\"year\")}\n//msg.payload.month=month\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":320,"wires":[["b87621b6.352b9","12642690.d6bf29"]]},{"id":"b87621b6.352b9","type":"debug","z":"d507e9c1.225528","name":"getRain/Forecast","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":190,"y":360,"wires":[]},{"id":"7a5ef2c8.28730c","type":"switch","z":"d507e9c1.225528","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"getRain","vt":"str"},{"t":"eq","v":"getRange","vt":"str"},{"t":"eq","v":"getForecastMonth","vt":"str"},{"t":"eq","v":"getForecastRange","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":770,"y":300,"wires":[["9ae34b86.b75138"],["f2dabb16.8f2818"],["c76941aa.cd2e3"],["84d81edb.d4388"],["7a32d20c.538ffc"]]},{"id":"2d88cbe0.136a74","type":"ui_dropdown","z":"d507e9c1.225528","name":"","label":"Choose Year","tooltip":"","place":"Select option","group":"411988da.c1f548","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"2018","value":"2018","type":"str"},{"label":"2019","value":"2019","type":"str"},{"label":"2020","value":"2020","type":"str"}],"payload":"","topic":"","x":170,"y":600,"wires":[["2dfcba2e.18c8a6"]]},{"id":"d6186503.c6d788","type":"ui_dropdown","z":"d507e9c1.225528","name":"","label":"Choose Month","tooltip":"","place":"Select option","group":"411988da.c1f548","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"Jan","value":"Jan","type":"str"},{"label":"Feb","value":"Feb","type":"str"},{"label":"Mar","value":"Mar","type":"str"},{"label":"Jun","value":"Jun","type":"str"},{"label":"Jul","value":"Jul","type":"str"}],"payload":"","topic":"","x":180,"y":680,"wires":[["c3797699.7a67c8"]]},{"id":"c7cb460c.665f68","type":"ui_button","z":"d507e9c1.225528","name":"","group":"411988da.c1f548","order":1,"width":0,"height":0,"passthru":false,"label":"Get History","tooltip":"","color":"","bgcolor":"","icon":"","payload":"getRain","payloadType":"str","topic":"","x":170,"y":280,"wires":[["a1f9b69f.5620f8"]]},{"id":"9ae34b86.b75138","type":"function","z":"d507e9c1.225528","name":"getMonthRain","func":"//incoming {\"Wet\":10,\"Dry\":18,\"Month\":\"Feb\",\"Year\":\"2018\",\"cmd\":\"getRain\"}\n\nmymsg={}\nmymsg.payload=[{\n    \"series\": [ \"Dry\", \"Wet\"],\n    \"data\": [ [5], [3] ],\n    \"labels\": [ \"Jan\" ]\n}]\n\nmymsg.payload[0].data[0][0]=msg.payload.Dry\nmymsg.payload[0].data[1][0]=msg.payload.Wet\nmymsg.payload[0].labels[0]=msg.payload.Month+\"-\"+msg.payload.Year\nreturn mymsg","outputs":1,"noerr":0,"x":980,"y":280,"wires":[["ec0c4b62.5cc468"]]},{"id":"ec0c4b62.5cc468","type":"ui_chart","z":"d507e9c1.225528","name":"","group":"3f0f51c5.111b8e","order":1,"width":0,"height":0,"label":"Month History","chartType":"bar","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1220,"y":280,"wires":[[]]},{"id":"9062b00.c91c75","type":"ui_button","z":"d507e9c1.225528","name":"","group":"411988da.c1f548","order":4,"width":0,"height":0,"passthru":false,"label":"Get Forecast 2020","tooltip":"","color":"","bgcolor":"","icon":"","payload":"getForecastMonth","payloadType":"str","topic":"","x":190,"y":460,"wires":[["1b2529fd.435096"]]},{"id":"1b2529fd.435096","type":"function","z":"d507e9c1.225528","name":"getForecastMonth2020","func":"month=msg.payload\nmsg.payload={\"cmd\":\"getForecastMonth\",\"month\":flow.get(\"month\"),\"year\":\"2020\"}\n//msg.payload.month=month\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":500,"wires":[["12642690.d6bf29"]]},{"id":"c76941aa.cd2e3","type":"function","z":"d507e9c1.225528","name":"gerForecast","func":"//incoming {\"Wet\":10,\"Dry\":18,\"Month\":\"Feb\",\"Year\":\"2018\",\"cmd\":\"getRain\"}\n\nmymsg={}\nmymsg.payload=[{\n    \"series\": [ \"Dry\", \"Wet\"],\n    \"data\": [ [5], [3] ],\n    \"labels\": [ \"Jan\" ]\n}]\n\nmymsg.payload[0].data[0][0]=msg.payload.Dry\nmymsg.payload[0].data[1][0]=msg.payload.Wet\nmymsg.payload[0].labels[0]=msg.payload.Month+\"-\"+msg.payload.Year\nreturn mymsg","outputs":1,"noerr":0,"x":970,"y":320,"wires":[["6872cf69.151f8","373490c5.34c1f"]]},{"id":"6872cf69.151f8","type":"ui_chart","z":"d507e9c1.225528","name":"","group":"3f0f51c5.111b8e","order":3,"width":0,"height":0,"label":"Month Forecast 2020","chartType":"bar","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#bf1c09","#231cef","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1200,"y":320,"wires":[[]]},{"id":"1bae576a.4f6e19","type":"ui_text","z":"d507e9c1.225528","group":"3f0f51c5.111b8e","order":5,"width":0,"height":0,"name":"","label":"Last Message","format":"{{msg.payload.ts}}","layout":"row-spread","x":1260,"y":160,"wires":[]},{"id":"4eaf167b.98c008","type":"inject","z":"d507e9c1.225528","name":"","topic":"","payload":"GetForecast","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":540,"wires":[["1b2529fd.435096"]]},{"id":"373490c5.34c1f","type":"debug","z":"d507e9c1.225528","name":"Json","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":360,"wires":[]},{"id":"f2dabb16.8f2818","type":"function","z":"d507e9c1.225528","name":"getRainMRange","func":"mpy = {\"cmd\":\"getRange\",\"info\":[\n{\"date\":1485820800000,\"Dry\":22,\"Wet\":9,\"year\":2017,\"month_name\":\"Jan\",\"temp_c_max\":7.69},\n{\"date\":1488240000000,\"Dry\":25,\"Wet\":3,\"year\":2017,\"month_name\":\"Feb\",\"temp_c_max\":10.46},\n{\"date\":1490918400000,\"Dry\":26,\"Wet\":5,\"year\":2017,\"month_name\":\"Mar\",\"temp_c_max\":10.16},\n{\"date\":1490918400000,\"Dry\":16,\"Wet\":15,\"year\":2017,\"month_name\":\"Apr\",\"temp_c_max\":10.16},\n]}\n\n\nmymsg={}\nmymsg.payload=[{\n    \"series\": [[ \"Dry\"],[ \"Wet\"]],\n    \"data\": [[15,11,9],[5,10,8] ],\n    \"labels\": [ \"Jan\" ,\"Feb\",\"Mar\"]\n}]\n\n//node.warn(mymsg.payload[0].data[0][0])\n//node.warn(mpy)\nmsg.payload.info.forEach(function(entry,idx) \n{\n\n\nmymsg.payload[0].data[0][idx] = entry.Dry\nmymsg.payload[0].data[1][idx] = entry.Wet\n//mymsg.payload[0].data[0][1] = mpy.info[1].Dry\n//mymsg.payload[0].data[0][2] = mpy.info[2].Dry\nmymsg.payload[0].labels[idx] = entry.year+\"-\"+entry.month_name\n\n})\n\nreturn mymsg\n","outputs":1,"noerr":0,"x":980,"y":460,"wires":[["c132e209.f8234","28460038.343bd"]]},{"id":"c132e209.f8234","type":"debug","z":"d507e9c1.225528","name":"getRange","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1200,"y":460,"wires":[]},{"id":"28460038.343bd","type":"ui_chart","z":"d507e9c1.225528","name":"","group":"503e045d.0186ac","order":2,"width":0,"height":0,"label":"Multiple Month History","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1240,"y":420,"wires":[[]]},{"id":"84d81edb.d4388","type":"function","z":"d507e9c1.225528","name":"getForecastRange - Maybe here","func":"//msg.payload={}\ninfo = {\"cmd\":\"getRange\",\"info\":[\n{\"date\":1485820800000,\"Dry\":22,\"Wet\":9,\"year\":2017,\"month_name\":\"Jan\",\"temp_c_max\":7.69},\n{\"date\":1488240000000,\"Dry\":25,\"Wet\":3,\"year\":2017,\"month_name\":\"Feb\",\"temp_c_max\":10.46},\n{\"date\":1490918400000,\"Dry\":26,\"Wet\":5,\"year\":2017,\"month_name\":\"Mar\",\"temp_c_max\":10.16},\n{\"date\":1490918400000,\"Dry\":16,\"Wet\":15,\"year\":2017,\"month_name\":\"Apr\",\"temp_c_max\":10.16},\n]}\nnode.warn(msg.payload)\n\nmymsg={}\nmymsg.drytotal=0\nmymsg.wettotal=0\nmymsg.drytotalp=0\nmymsg.wettotalp=0\nmymsg.payload=[{\n    \"series\": [[ \"Dry\"],[ \"Wet\"]],\n    \"data\": [[15,11,9],[5,10,8] ],\n    \"labels\": [ \"Jan\" ,\"Feb\",\"Mar\"]\n}]\n\n//node.warn(mymsg.payload[0].data[0][0])\n//node.warn(mpy)\nmsg.payload.info.forEach(function(entry,idx) \n{\n\n\nmymsg.payload[0].data[0][idx] = entry.Dry\nmymsg.payload[0].data[1][idx] = entry.Wet\n//mymsg.payload[0].data[0][1] = mpy.info[1].Dry\n//mymsg.payload[0].data[0][2] = mpy.info[2].Dry\nmymsg.payload[0].labels[idx] = entry.year+\"-\"+entry.month_name\nmymsg.drytotal =  mymsg.drytotal +parseInt(entry.Dry)\nmymsg.wettotal =  mymsg.wettotal +parseInt(entry.Wet)\n    \n})\nmymsg.days=(mymsg.wettotal+mymsg.drytotal)\nmymsg.drytotalp = parseInt( ((mymsg.drytotal / (mymsg.wettotal+mymsg.drytotal))*100).toFixed(2))\nmymsg.wettotalp =  parseInt( ((mymsg.wettotal / (mymsg.wettotal+mymsg.drytotal))*100).toFixed(2))\nmymsg.fmsg=\"Rain = \"+mymsg.wettotalp+\"% Dry=\"+mymsg.drytotalp+ \"% of Days(range)=\"+mymsg.days\nreturn mymsg\n","outputs":1,"noerr":0,"x":970,"y":560,"wires":[["1e2c6366.462b5d","61f86ff6.b6c5f","82f908ef.8653d8"]]},{"id":"1e2c6366.462b5d","type":"debug","z":"d507e9c1.225528","name":"get3MRangeFC","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1220,"y":560,"wires":[]},{"id":"61f86ff6.b6c5f","type":"ui_chart","z":"d507e9c1.225528","name":"","group":"503e045d.0186ac","order":4,"width":0,"height":0,"label":"Multiple Month Forecast 2020","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#bf2308","#2e23ee","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1270,"y":520,"wires":[[]]},{"id":"7a32d20c.538ffc","type":"debug","z":"d507e9c1.225528","name":"Unkown","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":400,"wires":[]},{"id":"d7ffd598.92cb58","type":"inject","z":"432dc11a.b8554","name":"Image Refresh","topic":"","payload":"{\"imgurl\":\"https://www.toronto.ca/data/transportation/roadrestrictions/CameraImages/loc8046.jpg\",\"imgurl1\":\"https://511ny.org/map/Cctv/4616652--17\"}","payloadType":"json","repeat":"600","crontab":"","once":true,"onceDelay":"1","x":940,"y":520,"wires":[["227cc8dd.9ebc08"]]},{"id":"3066bf3c.27763","type":"ui_gauge","z":"432dc11a.b8554","name":"","group":"13021934.20b057","order":3,"width":0,"height":0,"gtype":"compass","title":"Wind Direction","label":"Degree","format":"{{msg.payload.windDirection}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":320,"y":500,"wires":[]},{"id":"221f1d8b.e9eab2","type":"function","z":"432dc11a.b8554","name":"Pressure Level","func":"//msg.payload=msg.payload.pressure\nreturn(msg)\n","outputs":1,"noerr":0,"x":160,"y":560,"wires":[[]]},{"id":"c07643a4.5f5a","type":"comment","z":"a7abe019.5585b","name":"LAB instructions -https://github.com/markusvankempen/ThinkLab1239","info":"https://github.com/markusvankempen/ThinkLab1239/blob/master/instructions/Lab1239-PartOne.pdf","x":630,"y":120,"wires":[]},{"id":"5a868172.84d63","type":"comment","z":"61188e1e.be8c5","name":"Save Data ","info":"","x":80,"y":820,"wires":[]},{"id":"9887727.e868b9","type":"ui_gauge","z":"432dc11a.b8554","name":"","group":"13021934.20b057","order":3,"width":0,"height":0,"gtype":"wave","title":"Pressure Level","label":"p","format":"{{msg.payload.????}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":560,"wires":[]},{"id":"efd3b379.cb05a","type":"cloudant out","z":"61188e1e.be8c5","name":"","cloudant":"","database":"mypws","service":"00tla-cloudantNoSQLDB","payonly":true,"operation":"insert","x":560,"y":920,"wires":[]},{"id":"42d94749.c306b8","type":"ibmiot in","z":"61188e1e.be8c5","authentication":"boundService","apiKey":"f3d8c395.7a0d5","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"pws01","applicationId":"","deviceType":"pws","eventType":"weather","commandType":"","format":"json","name":"allPWSIncoming","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":120,"y":920,"wires":[["75cdbfb2.186c6"]]},{"id":"75cdbfb2.186c6","type":"function","z":"61188e1e.be8c5","name":"GetMyPWS","func":"//if(global.get(\"labid\") == \"NoLabID\")\n//node.error(\"Please set your LAB ID\")\n\nvar d = new Date();\nvar options = { timeZone: 'America/Toronto', timeZoneName: 'short', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload.mytime=resultDate\nnode.warn(global.get(\"labid\"))\n//if (msg.payload.pws == global.get(\"labid\") )\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":920,"wires":[["d709a360.4799"]]},{"id":"b32270.4ecedd9","type":"cloudant in","z":"61188e1e.be8c5","name":"","cloudant":"","database":"mypws","service":"00tla-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":380,"y":1020,"wires":[["b98386cf.b19628","fcc49258.73669"]]},{"id":"de854758.193b18","type":"inject","z":"61188e1e.be8c5","name":"get myPWSData","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1020,"wires":[["b32270.4ecedd9"]]},{"id":"b98386cf.b19628","type":"debug","z":"61188e1e.be8c5","name":"DB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":1020,"wires":[]},{"id":"d709a360.4799","type":"debug","z":"61188e1e.be8c5","name":"SaveMyData","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":960,"wires":[]},{"id":"7f54cd3.f6c6c34","type":"http in","z":"61188e1e.be8c5","name":"","url":"/download","method":"get","upload":false,"swaggerDoc":"","x":140,"y":1100,"wires":[["b32270.4ecedd9"]]},{"id":"fcc49258.73669","type":"http response","z":"61188e1e.be8c5","name":"","statusCode":"","headers":{},"x":560,"y":1100,"wires":[]},{"id":"29f271a6.5db29e","type":"ui_dropdown","z":"bb108297.56268","name":"","label":"Range End Month","tooltip":"","place":"Select option","group":"f4dbbd7a.c32cf","order":10,"width":0,"height":0,"passthru":true,"options":[{"label":"01","value":"01","type":"str"},{"label":"02","value":"02","type":"str"},{"label":"03","value":"03","type":"str"},{"label":"04","value":"04","type":"str"},{"label":"09","value":"09","type":"str"}],"payload":"","topic":"","x":130,"y":640,"wires":[["6e1e1b76.e30614"]]},{"id":"6e1e1b76.e30614","type":"function","z":"bb108297.56268","name":"set range","func":"flow.set(\"endrange\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":640,"wires":[[]]},{"id":"e83b055f.c65db8","type":"ui_dropdown","z":"bb108297.56268","name":"","label":"Range Start Month","tooltip":"","place":"Select option","group":"f4dbbd7a.c32cf","order":9,"width":0,"height":0,"passthru":true,"options":[{"label":"01","value":"01","type":"str"},{"label":"02","value":"02","type":"str"}],"payload":"","topic":"","x":110,"y":600,"wires":[["452d2386.cbcfdc"]]},{"id":"452d2386.cbcfdc","type":"function","z":"bb108297.56268","name":"set range","func":"flow.set(\"startrange\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":600,"wires":[[]]},{"id":"be7a7627.199248","type":"ui_dropdown","z":"d507e9c1.225528","name":"","label":"Range End Month","tooltip":"","place":"Select option","group":"7718e484.83239c","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"01","value":"01","type":"str"},{"label":"02","value":"02","type":"str"},{"label":"03","value":"03","type":"str"},{"label":"04","value":"04","type":"str"},{"label":"09","value":"09","type":"str"}],"payload":"","topic":"","x":770,"y":820,"wires":[["62395733.7ac4c8"]]},{"id":"62395733.7ac4c8","type":"function","z":"d507e9c1.225528","name":"set range","func":"flow.set(\"endrange\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":860,"wires":[[]]},{"id":"25dbd7f4.0b55d8","type":"ui_dropdown","z":"d507e9c1.225528","name":"","label":"Range Start Month","tooltip":"","place":"Select option","group":"7718e484.83239c","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"01","value":"01","type":"str"},{"label":"02","value":"02","type":"str"}],"payload":"","topic":"","x":770,"y":740,"wires":[["7961707d.8e451"]]},{"id":"7961707d.8e451","type":"function","z":"d507e9c1.225528","name":"set range","func":"flow.set(\"startrange\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":780,"wires":[[]]},{"id":"d5d2df12.fadad","type":"inject","z":"d507e9c1.225528","name":"getForecastRange","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":490,"y":780,"wires":[["7a4d27ae.837028"]]},{"id":"7a4d27ae.837028","type":"function","z":"d507e9c1.225528","name":"RangeForecast","func":"month=msg.payload\nmsg.payload={\"cmd\":\"getForecastRange\",\"start\": flow.get(\"rangeyear\")+\"-\"+flow.get(\"startrange\"),\"end\": flow.get(\"rangeyear\")+\"-\"+flow.get(\"endrange\")}\nmsg.payload={\"cmd\":\"getForecastRange\",\"start\": \"2020-\"+flow.get(\"startrange\"),\"end\": \"2020-\"+flow.get(\"endrange\")}\n\n//msg.payload={\"cmd\":\"getForecastRange\",\"start\": flow.get(\"year\")+\"-01\",\"end\": flow.get(\"year\")+\"-03\"}\n\nreturn msg;\n//{\"cmd\":\"getRange\",\"info\":[{\"date\":1485820800000,\"Dry\":22,\"Wet\":9,\"year\":2017,\"month_name\":\"Jan\",\"temp_c_max\":7.69},{\"date\":1488240000000,\"Dry\":25,\"Wet\":3,\"year\":2017,\"month_name\":\"Feb\",\"temp_c_max\":10.46},{\"date\":1490918400000,\"Dry\":26,\"Wet\":5,\"year\":2017,\"month_name\":\"Mar\",\"temp_c_max\":10.16}]}\n","outputs":1,"noerr":0,"x":480,"y":740,"wires":[["12642690.d6bf29"]]},{"id":"97e55871.5e08d8","type":"ui_button","z":"d507e9c1.225528","name":"","group":"7718e484.83239c","order":5,"width":0,"height":0,"passthru":false,"label":"Get Range Forecast","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":500,"y":820,"wires":[["7a4d27ae.837028"]]},{"id":"ba7080af.f6a28","type":"function","z":"d507e9c1.225528","name":"set flow year","func":"flow.set(\"rangeyear\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":940,"wires":[[]]},{"id":"13e56e7d.cd5b12","type":"ui_dropdown","z":"d507e9c1.225528","name":"","label":"Year","tooltip":"","place":"Select option","group":"7718e484.83239c","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"2016","value":"2016","type":"str"},{"label":"2017","value":"2017","type":"str"},{"label":"2018","value":"2018","type":"str"},{"label":"2019","value":"2019","type":"str"},{"label":"2020","value":"2020","type":"str"}],"payload":"","topic":"","x":730,"y":900,"wires":[["ba7080af.f6a28"]]},{"id":"c2c794c.675a268","type":"comment","z":"d507e9c1.225528","name":"Range -------------------","info":"","x":460,"y":700,"wires":[]},{"id":"692e40ee.65823","type":"comment","z":"d507e9c1.225528","name":"Range -------------------","info":"","x":760,"y":700,"wires":[]},{"id":"feae1737.5989f8","type":"inject","z":"d507e9c1.225528","name":"getForecastRange","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":490,"y":900,"wires":[["4bb7d3b9.23e75c"]]},{"id":"4bb7d3b9.23e75c","type":"function","z":"d507e9c1.225528","name":"RangeForecast","func":"month=msg.payload\nmsg.payload={\"cmd\":\"getRange\",\"start\": \"2020-\"+flow.get(\"startrange\"),\"end\": \"2020-\"+flow.get(\"endrange\")}\nmsg.payload={\"cmd\":\"getRange\",\"start\": flow.get(\"rangeyear\")+\"-\"+flow.get(\"startrange\"),\"end\": flow.get(\"rangeyear\")+\"-\"+flow.get(\"endrange\")}\n\n//msg.payload={\"cmd\":\"getForecastRange\",\"start\": flow.get(\"year\")+\"-01\",\"end\": flow.get(\"year\")+\"-03\"}\n\nreturn msg;\n//{\"cmd\":\"getRange\",\"info\":[{\"date\":1485820800000,\"Dry\":22,\"Wet\":9,\"year\":2017,\"month_name\":\"Jan\",\"temp_c_max\":7.69},{\"date\":1488240000000,\"Dry\":25,\"Wet\":3,\"year\":2017,\"month_name\":\"Feb\",\"temp_c_max\":10.46},{\"date\":1490918400000,\"Dry\":26,\"Wet\":5,\"year\":2017,\"month_name\":\"Mar\",\"temp_c_max\":10.16}]}\n","outputs":1,"noerr":0,"x":480,"y":860,"wires":[["12642690.d6bf29"]]},{"id":"6f4573b5.4a95cc","type":"ui_button","z":"d507e9c1.225528","name":"","group":"7718e484.83239c","order":1,"width":0,"height":0,"passthru":false,"label":"Get Range History","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":490,"y":940,"wires":[["4bb7d3b9.23e75c"]]},{"id":"ff2be5b7.b383c8","type":"comment","z":"d507e9c1.225528","name":"Excerise ","info":"Add some more functioanlity to the UI ..like make the getRange flexible its hard code at the momment. Add more month and years to the drop downs.","x":160,"y":120,"wires":[]},{"id":"85339a2b.3554a8","type":"comment","z":"d507e9c1.225528","name":"Whats is this / want can I do?","info":"This is the node-red flow and dashboard which send command to retrieve data from the python nodebook in watson studio \n\nYou can use the /ui to rigger comand or the injections and monitor the debug console.\n\nConnect the vegitable icon and the Dry/Rainy day Pie Chart \n","x":220,"y":80,"wires":[]},{"id":"704e4e15.3bcaf","type":"comment","z":"77d54067.1c0e9","name":"VERSION:20200501","info":"","x":930,"y":40,"wires":[]},{"id":"82f908ef.8653d8","type":"ui_text","z":"d507e9c1.225528","group":"503e045d.0186ac","order":2,"width":0,"height":0,"name":"","label":"Forecast %","format":"{{msg.fmsg}}","layout":"row-spread","x":1220,"y":640,"wires":[]},{"id":"c716546b.7bc178","type":"ui_template","z":"d507e9c1.225528","group":"411988da.c1f548","name":"vegetatable ","order":5,"width":0,"height":0,"format":"{{msg.payload.html}}\n<img src=\"{{msg.payload.url}}\" width=\"100\" height=\"100\"> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1370,"y":700,"wires":[[]]},{"id":"a868a9db.674688","type":"function","z":"d507e9c1.225528","name":"Choose Vegatable - Connect ME","func":"//swett potato  wet\nmsg.payload={}\nmsg.url=\"https://ya-webdesign.com/transparent450_/sweet-potato-png-6.png\"\n//tomato\nmsg.url=\"http://clipart-library.com/data_images/491385.jpg\"\n\n\n//brocoli dry\nmsg.payload.url=\"https://cdn.clipart.email/7b6e7261bda8719084060e0a27adf1d1_vegetables-broccoli-transparent-png-clipart-free-download-ywd_600-576.png\"\n//ruhbarb\nmsg.payload.url=\"http://clipart-library.com/img1/570926.png\"\n\n//tomato\nmsg.payload.url=\"http://clipart-library.com/data_images/491385.jpg\"\n\nif(msg.wettotalp < 20)\n{\n    msg.payload.html=\"In a dryer period grow\"\n//brocoli dry\nurl=\"https://cdn.clipart.email/7b6e7261bda8719084060e0a27adf1d1_vegetables-broccoli-transparent-png-clipart-free-download-ywd_600-576.png\"\n}else{\n    msg.payload.html=\"In a rainy period grow\"\nurl=\"https://ya-webdesign.com/transparent450_/sweet-potato-png-6.png\" \n}\n\n\nmsg.payload.url=url\nreturn msg\n","outputs":1,"noerr":0,"x":1100,"y":720,"wires":[["c716546b.7bc178","7f636a20.bbdc94"]]},{"id":"7f636a20.bbdc94","type":"debug","z":"d507e9c1.225528","name":"vegetable","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1360,"y":760,"wires":[]},{"id":"ac8f6af7.5cf5b8","type":"ui_chart","z":"d507e9c1.225528","name":"","group":"7718e484.83239c","order":6,"width":0,"height":0,"label":"Dry/Rainy","chartType":"pie","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00fa92","#7a81ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1360,"y":800,"wires":[[]]},{"id":"f4a1244e.a5f958","type":"function","z":"d507e9c1.225528","name":"Connect ME","func":"//msg={}\n//msg.drytotal=20\n\nmsg1={}\nmsg1.payload={}\nmsg1.payload=[{\n    \"series\": [ \"X\" ],\n    \"data\": [ [5,6] ],\n    \"labels\": [ \"Dry\", \"Wet\" ]\n}]\nmsg1.payload[0].data[0][0]=msg.drytotal\nmsg1.payload[0].data[0][0]=msg.wettotal\n//warn.node(msg)\nreturn msg1;","outputs":1,"noerr":0,"x":1150,"y":800,"wires":[["ac8f6af7.5cf5b8"]]},{"id":"cd066d2a.8319","type":"comment","z":"d507e9c1.225528","name":"WeatherForecastTab","info":"This is the forecast tab which send commands to the python notebooks to query the history and forecast data which is than display on the node-red Dashboard /ui","x":190,"y":40,"wires":[]},{"id":"d39bbbd4.a640e8","type":"debug","z":"d507e9c1.225528","name":"toPython","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":300,"y":220,"wires":[]}]
