defaults/flow.json
[{"id":"418db7b8.a45178","type":"http request","z":"64b80f72.f2f58","name":"Current Weather TWC","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":480,"wires":[["1959876.bfae379"]]},{"id":"6df70101.89097","type":"change","z":"64b80f72.f2f58","name":"New key Set TWC API Key here","rules":[{"t":"set","p":"twcapikey","pt":"flow","to":"5424e9662cbf4bc3a4e9662cbf4bc3fe","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":240,"wires":[["ff1ef618.7aad28"]]},{"id":"9ed568be.a7bd08","type":"inject","z":"64b80f72.f2f58","name":"Init TWC API Key","topic":"","payload":"true","payloadType":"bool","repeat":"30","crontab":"","once":true,"onceDelay":"2","x":170,"y":240,"wires":[["6df70101.89097"]]},{"id":"ff1ef618.7aad28","type":"debug","z":"64b80f72.f2f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":240,"wires":[]},{"id":"2f40409d.e89d8","type":"change","z":"64b80f72.f2f58","name":"Set Location","rules":[{"t":"set","p":"lat","pt":"flow","to":"28","tot":"str"},{"t":"set","p":"lon","pt":"flow","to":"-42","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":400,"wires":[["720ec72d.d878f8"]]},{"id":"cbebb637.9ee568","type":"inject","z":"64b80f72.f2f58","name":"Set Default Location (Lat/Lon)","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"10","x":180,"y":400,"wires":[["2f40409d.e89d8"]]},{"id":"720ec72d.d878f8","type":"function","z":"64b80f72.f2f58","name":"","func":"msg.payload={}\nmsg.payload.lat=flow.get(\"lat\")\nmsg.payload.lon=flow.get(\"lon\")\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":400,"wires":[["ef66d066.dba8e","9bffcefe.662ec"]]},{"id":"ef66d066.dba8e","type":"debug","z":"64b80f72.f2f58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":400,"wires":[]},{"id":"b18476ff.8dd8a8","type":"change","z":"64b80f72.f2f58","name":"SET LAB ID","rules":[{"t":"set","p":"labid","pt":"flow","to":"YourPWSNo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":120,"wires":[["a38f4ab.ebac5b8","130ab4f7.10ff3b"]]},{"id":"eec65f60.5ae6e","type":"inject","z":"64b80f72.f2f58","name":"LABID","topic":"","payload":"true","payloadType":"bool","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":140,"y":120,"wires":[["b18476ff.8dd8a8"]]},{"id":"a38f4ab.ebac5b8","type":"debug","z":"64b80f72.f2f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":120,"wires":[]},{"id":"9bffcefe.662ec","type":"function","z":"64b80f72.f2f58","name":"setup url.api call","func":"//\"https://api.weather.com/v2/pws/history/hourly?stationId=ITORONTO308&format=json&units=m&date={}&apiKey=\"\n    \nmyurl= \"https://api.weather.com/v3/wx/observations/current?apiKey=\"+flow.get(\"twcapikey\")+\"&geocode=\"+flow.get(\"lat\")+\"%2C\"+flow.get(\"lon\")+\"&units=m&language=en-US&format=json\"\nmsg.url=myurl\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":480,"wires":[["418db7b8.a45178"]]},{"id":"f3e74ac4.4c8958","type":"comment","z":"64b80f72.f2f58","name":"API documentation","info":"https://weather.com/swagger-docs/call-for-code","x":650,"y":440,"wires":[]},{"id":"130ab4f7.10ff3b","type":"function","z":"64b80f72.f2f58","name":"labid","func":"msg.payload=flow.get(\"labid\")\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":60,"wires":[["a38f4ab.ebac5b8"]]},{"id":"d71af470.17d958","type":"comment","z":"64b80f72.f2f58","name":"Infos","info":"1. Get Your ID  via thinklab1239.mybluemix.net/claimids\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/","x":110,"y":20,"wires":[]},{"id":"3ae66bfe.b1ac44","type":"debug","z":"64b80f72.f2f58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":580,"wires":[]},{"id":"1934fd9.ddba202","type":"ibmiot in","z":"64b80f72.f2f58","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"pws","eventType":"+","commandType":"","format":"json","name":"myPWSIncoming","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":580,"wires":[["3ae66bfe.b1ac44"]]},{"id":"1959876.bfae379","type":"function","z":"64b80f72.f2f58","name":"Mapping","func":"msg.payloadold=msg.payload\nmsg.payload={}\nmsg.payload.temperature=msg.payloadold.temperature\nmsg.payload.observation=msg.payloadold.wxPhraseLong\nmsg.payload.humidity   =msg.payloadold.relativeHumidity\nmsg.payload.pressure   =msg.payloadold.pressureMeanSeaLevel\nmsg.payload.uvindex    =msg.payloadold.uvIndex\nmsg.payload.precip     =msg.payloadold.precip1Hour\nmsg.payload.ts         =Date.now()\nmsg.payload.messtime   =msg.payloadold.validTimeLocal\nmsg.payload.day=msg.payloadold.dayOfWeek\nmsg.payload.lat=parseFloat(flow.get(\"lat\"))\nmsg.payload.lon=parseFloat(flow.get(\"lon\"))\nmsg.payload.source=\"TWC\"\nmsg.payload.pws=flow.get(\"labid\")\nmsg.deviceId=\"pws\"+msg.payload.pws\nreturn msg;\n/*\n{\n    \"cloudCeiling\": 5000,\n    \"cloudCoverPhrase\": \"Mostly Cloudy\",\n    \"dayOfWeek\": \"Friday\",\n    \"dayOrNight\": \"D\",\n    \"expirationTimeUtc\": 1586545455,\n    \"iconCode\": 28,\n    \"iconCodeExtend\": 2890,\n    \"obsQualifierCode\": null,\n    \"obsQualifierSeverity\": null,\n    \"precip1Hour\": 0,\n    \"precip6Hour\": 0,\n    \"precip24Hour\": 0,\n    \"pressureAltimeter\": 1005.08,\n    \"pressureChange\": 2.03,\n    \"pressureMeanSeaLevel\": 1005.2,\n    \"pressureTendencyCode\": 1,\n    \"pressureTendencyTrend\": \"Rising\",\n    \"relativeHumidity\": 42,\n    \"snow1Hour\": 0,\n    \"snow6Hour\": 0,\n    \"snow24Hour\": 0,\n    \"sunriseTimeLocal\": \"2020-04-10T06:43:19-0400\",\n    \"sunriseTimeUtc\": 1586515399,\n    \"sunsetTimeLocal\": \"2020-04-10T19:56:57-0400\",\n    \"sunsetTimeUtc\": 1586563017,\n    \"temperature\": 7,\n    \"temperatureChange24Hour\": -2,\n    \"temperatureDewPoint\": -5,\n    \"temperatureFeelsLike\": 2,\n    \"temperatureHeatIndex\": 7,\n    \"temperatureMax24Hour\": 8,\n    \"temperatureMaxSince7Am\": 7,\n    \"temperatureMin24Hour\": 1,\n    \"temperatureWindChill\": 2,\n    \"uvDescription\": \"Moderate\",\n    \"uvIndex\": 4,\n    \"validTimeLocal\": \"2020-04-10T14:54:15-0400\",\n    \"validTimeUtc\": 1586544855,\n    \"visibility\": 16.09,\n    \"windDirection\": 300,\n    \"windDirectionCardinal\": \"WNW\",\n    \"windGust\": 56,\n    \"windSpeed\": 37,\n    \"wxPhraseLong\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseMedium\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseShort\": \"M Cldy/Wind\"\n}\n*/","outputs":1,"noerr":0,"x":860,"y":480,"wires":[["75524a9d.aa3ca4","ddd08ce2.5c8b2"]]},{"id":"3a480875.6377a8","type":"inject","z":"64b80f72.f2f58","name":"Payload TWC example","topic":"","payload":"{\"cloudCeiling\":5000,\"cloudCoverPhrase\":\"Mostly Cloudy\",\"dayOfWeek\":\"Friday\",\"dayOrNight\":\"D\",\"expirationTimeUtc\":1586545455,\"iconCode\":28,\"iconCodeExtend\":2890,\"obsQualifierCode\":null,\"obsQualifierSeverity\":null,\"precip1Hour\":0,\"precip6Hour\":0,\"precip24Hour\":0,\"pressureAltimeter\":1005.08,\"pressureChange\":2.03,\"pressureMeanSeaLevel\":1005.2,\"pressureTendencyCode\":1,\"pressureTendencyTrend\":\"Rising\",\"relativeHumidity\":42,\"snow1Hour\":0,\"snow6Hour\":0,\"snow24Hour\":0,\"sunriseTimeLocal\":\"2020-04-10T06:43:19-0400\",\"sunriseTimeUtc\":1586515399,\"sunsetTimeLocal\":\"2020-04-10T19:56:57-0400\",\"sunsetTimeUtc\":1586563017,\"temperature\":7,\"temperatureChange24Hour\":-2,\"temperatureDewPoint\":-5,\"temperatureFeelsLike\":2,\"temperatureHeatIndex\":7,\"temperatureMax24Hour\":8,\"temperatureMaxSince7Am\":7,\"temperatureMin24Hour\":1,\"temperatureWindChill\":2,\"uvDescription\":\"Moderate\",\"uvIndex\":4,\"validTimeLocal\":\"2020-04-10T14:54:15-0400\",\"validTimeUtc\":1586544855,\"visibility\":16.09,\"windDirection\":300,\"windDirectionCardinal\":\"WNW\",\"windGust\":56,\"windSpeed\":37,\"wxPhraseLong\":\"Mostly Cloudy/Wind\",\"wxPhraseMedium\":\"Mostly Cloudy/Wind\",\"wxPhraseShort\":\"M Cldy/Wind\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":320,"wires":[[]]},{"id":"75524a9d.aa3ca4","type":"debug","z":"64b80f72.f2f58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":480,"wires":[]},{"id":"ab4804ef.10d138","type":"comment","z":"64b80f72.f2f58","name":" Get a Weather API key","info":"1. Get Your ID  via thinklab1239.mybluemix.net/claimids\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/\n4. 5424e9662cbf4bc3a4e9662cbf4bc3fe","x":440,"y":200,"wires":[]},{"id":"ddd08ce2.5c8b2","type":"ibmiot out","z":"64b80f72.f2f58","authentication":"apiKey","apiKey":"","outputType":"evt","deviceId":"pws02","deviceType":"1.0.5","eventCommandType":"weather","format":"json","data":"msg.payload","qos":0,"name":"MyPWS","service":"registered","x":860,"y":540,"wires":[]},{"id":"52ad9e67.8f902","type":"comment","z":"64b80f72.f2f58","name":"1st Step - Set LABID","info":"1. Get Your ID  via thinklab1239.mybluemix.net/claimids\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/","x":170,"y":80,"wires":[]},{"id":"23b9fd00.ac55f4","type":"comment","z":"64b80f72.f2f58","name":"2st Step - Set TWC API Key","info":"1. Get Your ID  via thinklab1239.mybluemix.net/claimids\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/","x":200,"y":200,"wires":[]},{"id":"12d229c4.29d1e6","type":"comment","z":"64b80f72.f2f58","name":"3rd Step - Set Your Lat/Lon location","info":"1. Get Your ID  via thinklab1239.mybluemix.net/claimids\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/","x":220,"y":360,"wires":[]}]
