defaults/flow.json
[{"id":"9f692112.ba72c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4e2ad57d.65286c","type":"http request","z":"9f692112.ba72c","name":"Current Weather TWC","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":520,"wires":[["d0978f47.29d6"]]},{"id":"4bf9096.a6291f8","type":"change","z":"9f692112.ba72c","name":"New key Set TWC API Key here","rules":[{"t":"set","p":"twcapikey","pt":"flow","to":"5424e9662cbf4bc3a4e9662cbf4bc3fe","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":280,"wires":[["d39388d3.653178"]]},{"id":"beb027e8.8bde68","type":"inject","z":"9f692112.ba72c","name":"Init TWC API Key","topic":"","payload":"true","payloadType":"bool","repeat":"30","crontab":"","once":true,"onceDelay":"2","x":190,"y":280,"wires":[["4bf9096.a6291f8"]]},{"id":"d39388d3.653178","type":"debug","z":"9f692112.ba72c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":280,"wires":[]},{"id":"2576adf.e78f152","type":"change","z":"9f692112.ba72c","name":"Set Location","rules":[{"t":"set","p":"lat","pt":"flow","to":"28","tot":"str"},{"t":"set","p":"lon","pt":"flow","to":"-42","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":440,"wires":[["43b59693.7e3388"]]},{"id":"8820db3.848ca28","type":"inject","z":"9f692112.ba72c","name":"Set Default Location (Lat/Lon)","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"10","x":200,"y":440,"wires":[["2576adf.e78f152"]]},{"id":"43b59693.7e3388","type":"function","z":"9f692112.ba72c","name":"","func":"msg.payload={}\nmsg.payload.lat=flow.get(\"lat\")\nmsg.payload.lon=flow.get(\"lon\")\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":440,"wires":[["fda2156d.2db568","c1c5699a.59c6e8"]]},{"id":"fda2156d.2db568","type":"debug","z":"9f692112.ba72c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":440,"wires":[]},{"id":"48c833ee.77160c","type":"change","z":"9f692112.ba72c","name":"SET LAB ID","rules":[{"t":"set","p":"labid","pt":"flow","to":"YourPWSNo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":160,"wires":[["17e49e88.e982f1","da6e01d1.7404b"]]},{"id":"1b2c375d.716ab9","type":"inject","z":"9f692112.ba72c","name":"LABID","topic":"","payload":"true","payloadType":"bool","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":160,"y":160,"wires":[["48c833ee.77160c"]]},{"id":"17e49e88.e982f1","type":"debug","z":"9f692112.ba72c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":160,"wires":[]},{"id":"c1c5699a.59c6e8","type":"function","z":"9f692112.ba72c","name":"setup url.api call","func":"//\"https://api.weather.com/v2/pws/history/hourly?stationId=ITORONTO308&format=json&units=m&date={}&apiKey=\"\n    \nmyurl= \"https://api.weather.com/v3/wx/observations/current?apiKey=\"+flow.get(\"twcapikey\")+\"&geocode=\"+flow.get(\"lat\")+\"%2C\"+flow.get(\"lon\")+\"&units=m&language=en-US&format=json\"\nmsg.url=myurl\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":520,"wires":[["4e2ad57d.65286c"]]},{"id":"f30c484a.689ca8","type":"comment","z":"9f692112.ba72c","name":"API documentation","info":"https://weather.com/swagger-docs/call-for-code","x":670,"y":480,"wires":[]},{"id":"da6e01d1.7404b","type":"function","z":"9f692112.ba72c","name":"labid","func":"msg.payload=flow.get(\"labid\")\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":100,"wires":[["17e49e88.e982f1"]]},{"id":"beebf72f.546868","type":"comment","z":"9f692112.ba72c","name":"Infos","info":"1. Get Your ID  via thinklab1239.mybluemix.net/claimids\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/","x":130,"y":60,"wires":[]},{"id":"8a350ddd.d75d8","type":"debug","z":"9f692112.ba72c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":620,"wires":[]},{"id":"f9df8d9a.08fab","type":"ibmiot in","z":"9f692112.ba72c","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"pws","eventType":"+","commandType":"","format":"json","name":"myPWSIncoming","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":620,"wires":[["8a350ddd.d75d8"]]},{"id":"d0978f47.29d6","type":"function","z":"9f692112.ba72c","name":"Mapping","func":"msg.payloadold=msg.payload\nmsg.payload={}\nmsg.payload.temperature=msg.payloadold.temperature\nmsg.payload.observation=msg.payloadold.wxPhraseLong\nmsg.payload.humidity   =msg.payloadold.relativeHumidity\nmsg.payload.pressure   =msg.payloadold.pressureMeanSeaLevel\nmsg.payload.uvindex    =msg.payloadold.uvIndex\nmsg.payload.precip     =msg.payloadold.precip1Hour\nmsg.payload.ts         =Date.now()\nmsg.payload.messtime   =msg.payloadold.validTimeLocal\nmsg.payload.day=msg.payloadold.dayOfWeek\nmsg.payload.lat=parseFloat(flow.get(\"lat\"))\nmsg.payload.lon=parseFloat(flow.get(\"lon\"))\nmsg.payload.source=\"TWC\"\nmsg.payload.pws=flow.get(\"labid\")\nmsg.deviceId=\"pws\"+msg.payload.pws\nreturn msg;\n/*\n{\n    \"cloudCeiling\": 5000,\n    \"cloudCoverPhrase\": \"Mostly Cloudy\",\n    \"dayOfWeek\": \"Friday\",\n    \"dayOrNight\": \"D\",\n    \"expirationTimeUtc\": 1586545455,\n    \"iconCode\": 28,\n    \"iconCodeExtend\": 2890,\n    \"obsQualifierCode\": null,\n    \"obsQualifierSeverity\": null,\n    \"precip1Hour\": 0,\n    \"precip6Hour\": 0,\n    \"precip24Hour\": 0,\n    \"pressureAltimeter\": 1005.08,\n    \"pressureChange\": 2.03,\n    \"pressureMeanSeaLevel\": 1005.2,\n    \"pressureTendencyCode\": 1,\n    \"pressureTendencyTrend\": \"Rising\",\n    \"relativeHumidity\": 42,\n    \"snow1Hour\": 0,\n    \"snow6Hour\": 0,\n    \"snow24Hour\": 0,\n    \"sunriseTimeLocal\": \"2020-04-10T06:43:19-0400\",\n    \"sunriseTimeUtc\": 1586515399,\n    \"sunsetTimeLocal\": \"2020-04-10T19:56:57-0400\",\n    \"sunsetTimeUtc\": 1586563017,\n    \"temperature\": 7,\n    \"temperatureChange24Hour\": -2,\n    \"temperatureDewPoint\": -5,\n    \"temperatureFeelsLike\": 2,\n    \"temperatureHeatIndex\": 7,\n    \"temperatureMax24Hour\": 8,\n    \"temperatureMaxSince7Am\": 7,\n    \"temperatureMin24Hour\": 1,\n    \"temperatureWindChill\": 2,\n    \"uvDescription\": \"Moderate\",\n    \"uvIndex\": 4,\n    \"validTimeLocal\": \"2020-04-10T14:54:15-0400\",\n    \"validTimeUtc\": 1586544855,\n    \"visibility\": 16.09,\n    \"windDirection\": 300,\n    \"windDirectionCardinal\": \"WNW\",\n    \"windGust\": 56,\n    \"windSpeed\": 37,\n    \"wxPhraseLong\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseMedium\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseShort\": \"M Cldy/Wind\"\n}\n*/","outputs":1,"noerr":0,"x":880,"y":520,"wires":[["f7913762.405738","2d8f07a8.6e5b58"]]},{"id":"961d6f7f.14d4f","type":"inject","z":"9f692112.ba72c","name":"Payload TWC example","topic":"","payload":"{\"cloudCeiling\":5000,\"cloudCoverPhrase\":\"Mostly Cloudy\",\"dayOfWeek\":\"Friday\",\"dayOrNight\":\"D\",\"expirationTimeUtc\":1586545455,\"iconCode\":28,\"iconCodeExtend\":2890,\"obsQualifierCode\":null,\"obsQualifierSeverity\":null,\"precip1Hour\":0,\"precip6Hour\":0,\"precip24Hour\":0,\"pressureAltimeter\":1005.08,\"pressureChange\":2.03,\"pressureMeanSeaLevel\":1005.2,\"pressureTendencyCode\":1,\"pressureTendencyTrend\":\"Rising\",\"relativeHumidity\":42,\"snow1Hour\":0,\"snow6Hour\":0,\"snow24Hour\":0,\"sunriseTimeLocal\":\"2020-04-10T06:43:19-0400\",\"sunriseTimeUtc\":1586515399,\"sunsetTimeLocal\":\"2020-04-10T19:56:57-0400\",\"sunsetTimeUtc\":1586563017,\"temperature\":7,\"temperatureChange24Hour\":-2,\"temperatureDewPoint\":-5,\"temperatureFeelsLike\":2,\"temperatureHeatIndex\":7,\"temperatureMax24Hour\":8,\"temperatureMaxSince7Am\":7,\"temperatureMin24Hour\":1,\"temperatureWindChill\":2,\"uvDescription\":\"Moderate\",\"uvIndex\":4,\"validTimeLocal\":\"2020-04-10T14:54:15-0400\",\"validTimeUtc\":1586544855,\"visibility\":16.09,\"windDirection\":300,\"windDirectionCardinal\":\"WNW\",\"windGust\":56,\"windSpeed\":37,\"wxPhraseLong\":\"Mostly Cloudy/Wind\",\"wxPhraseMedium\":\"Mostly Cloudy/Wind\",\"wxPhraseShort\":\"M Cldy/Wind\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":360,"wires":[[]]},{"id":"f7913762.405738","type":"debug","z":"9f692112.ba72c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":520,"wires":[]},{"id":"9d3bad1.b5d0a5","type":"comment","z":"9f692112.ba72c","name":" Get a Weather API key","info":"1. Get Your ID  via thinklab1239.mybluemix.net/claimids\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/\n4. 5424e9662cbf4bc3a4e9662cbf4bc3fe","x":460,"y":240,"wires":[]},{"id":"2d8f07a8.6e5b58","type":"ibmiot out","z":"9f692112.ba72c","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"setinmapping","deviceType":"pws","eventCommandType":"weather","format":"json","data":"msg.payload","qos":0,"name":"MyPWS","service":"registered","x":880,"y":580,"wires":[]},{"id":"35dfbc23.d04724","type":"comment","z":"9f692112.ba72c","name":"1st Step - Set LABID","info":"1. Get Your ID  via thinklab1239.mybluemix.net/claimids\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/","x":190,"y":120,"wires":[]},{"id":"1f024e0f.86f102","type":"comment","z":"9f692112.ba72c","name":"2st Step - Set TWC API Key","info":"1. Get Your ID  via thinklab1239.mybluemix.net/claimids\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/","x":220,"y":240,"wires":[]},{"id":"9562557f.ea0218","type":"comment","z":"9f692112.ba72c","name":"3rd Step - Set Your Lat/Lon location","info":"1. Get Your ID  via thinklab1239.mybluemix.net/claimids\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/","x":240,"y":400,"wires":[]}]
